[2014-04-02 07:40] TyberiusPrime opened #1 "Pip install does not register nose plugin"
Hello,

I wanted to give green a try, did 'sudo pip install green', which was sucessful, but 'nosetest --plugins' is not showhing it installed, and my output looks the same.

[2014-04-04 06:43] #1 closed, assigned to nobody

[2014-05-12 18:52] rgraham717 opened #2 "Typo in line 14 of cmdline.py"
"covarage_version" should be "coverage_version".  If coverage isn't installed, this will cause the command to error out with a NameError:

NameError: global name 'coverage_version' is not defined

[2014-05-12 19:27] #2 closed, assigned to nobody

[2014-06-16 17:07] rolobio opened #3 "Multiple Targets"
It would be very helpful if Green supported multiple test targets.

Some example syntax:
- `green test.tests1 test.tests`
- `green -v --run-coverage test.tests1 test.tests2`

[2014-06-17 19:45] #3 closed, assigned to nobody

[2014-06-23 23:35] jeetsukumaran opened #5 "Support "catch" like unittest"
Some features that are present in unittest (when tests are invoked via `python -m unittest project.test`) that I would consider really nice to have:
- "-c"/"--catch": Control-C during the test run waits for the current test to end and then reports all the results so far. A second control-C raises the normal KeyboardInterrupt exception.
- "-f"/"--failfast": Stop the test run on the first error or f

[2014-06-23 23:36] jeetsukumaran opened #6 "Ability to re-run failed tests and list tests that have failed in editor-friendly form"
- re-run the last failed tests like nose does.
- list all the failed/error tests in the previous run in way that makes it easy to pass to an editor (perhaps a flag to switch between the dot-as-path form for the test runner and normal slashes + ".py" extension for the editor)

[2014-06-23 23:37] jeetsukumaran opened #7 "Command-line completion for tests"
Command-line completion for test names passed to the test runner, whether module name ("project.test.test_module_a") or test case ("project.test.test_module_a.TestCaseA") or test itself ("project.test.test_module_a.TestCaseA.test_run1").

[2014-06-24 04:35] CleanCut opened #8 "Support "failfast" like unittest"
(Split into its own issue from #5 so it can be addressed separately.)

A feature that is present in unittest (when tests are invoked via `python -m unittest project.test`) that would be really nice to have:

[code]

[2014-06-24 04:59] CleanCut opened #9 "Automate testing installing green"
The 1.0 release was broken because there's no automated testing of installing green.

[2014-06-24 05:01] CleanCut opened #10 "Automate testing installed versions of green"
Green should be tested after being installed to ensure that it actually works after installation.  Because working in a clone of the repo is not really useful if the installation is broken.  Perhaps this is a good place to use [tox](https://testrun.org/tox/latest/)

[2014-06-24 05:04] CleanCut opened #11 "Consider using drone.io"
drone.io is a competitor to Travis.  We should evaluate whether it would be good to use in addition to or instead of Travis (if at all).

[2014-06-24 17:28] CleanCut opened #12 "Consider adding an output mode that lists dots delineated by modules"
Consider adding an output mode (maybe as `-v` and shift current `-v` to `-vv` and current `-vv` to `-vvvv`?) where the body of the output looks like pytests's default output.

[code]

[2014-06-24 17:42] CleanCut opened #13 "Consider creating a decorator that would enable marking bare functions using asserts to be run as a TestCase"
Maybe it would be possible to create a decorator which wrapped a bare function and assert and generated a standard unittest class/method out of it.  It would require importing the decorator and decorating the function, obviously.  Maybe it would look something like this:

    from green import testme

    @testme
    def myfunc():
        assert foo == bar, "foo = bar"

Maybe that could return a w

[2014-06-24 22:18] CleanCut opened #14 "Tests get different fully-dotted names depending on the discovery-method used."
Test discovery sometimes gives `pkg.module.submodule...` when some discovery methods are used, and for others it gives `submodule...`

This is mildly annoying for regular output, but incredibly frustrating when trying to implement output for bash/zsh completion in #7.

This has got to be fixed.  I hope I don't have to rewrite all of test discovery.

[2014-06-25 23:39] #9 closed, assigned to CleanCut

[2014-06-25 23:39] #10 closed, assigned to CleanCut

[2014-06-26 16:48] santagada opened #15 "improve the pytest section"
would be nice to mention that apparently pytest has all the features of green and more or maybe comment on what is missing.

[2014-06-26 19:10] #15 closed, assigned to nobody

[2014-06-30 08:50] faide opened #16 "[question] nose @raises decorator"
Hi there,

I have a lot of code covered by nose tests and I am evaluating migration to another test runner. I agree with your explanations and conclusions.

I have unit tests that import some nose sugar coating:

[code]

and then use it like this:

[code]

Do we have some similar syntaxic sugar in green yet?

[2014-06-30 19:15] faide opened #17 "[question] setup.py integration"
I'd like a way to integrate with setup.py more finely than what is currently possible (to my understanding at least).
# Here is the long story

I found the way to integrate with setup.py using this code:

[code]

but has you can see in my example I want to use coverage to produce reports.
# What I did when using nose

in setup.py

[code]

and in setup.cfg

[code]

but using green I cannot (did not

[2014-06-30 21:14] #16 closed, assigned to nobody

[2014-07-03 22:52] dougthor42 opened #18 "Add support for Windows CMD"
Add support for windows CMD by using colorama (https://pypi.python.org/pypi/colorama) in addition to termcolor.

[2014-07-07 05:24] #18 closed, assigned to nobody

[2014-07-09 18:18] CleanCut opened #20 "Config file support"
It would be nice to support a .green config file.

[2014-07-10 11:30] hjwp opened #21 "Django compatibility"
The Django test runner does all sorts of magic to set up a test database.  For green to work with Django, it would have to hook into all that voodoo somehow.

Here's a minimal django project you can use for tests:  https://github.com/hjwp/Minimal-Django-project-with-model-test

to run green, use:

[code]

[2014-07-10 17:58] CleanCut opened #22 "-f/--filterr to indicate which tests to run"
There was a [good suggestion](https://groups.google.com/d/msg/nose-users/RqOc4Q2KIFM/d3OJk5YeMXMJ) to implement some flexible way of narrowing down which test(s) you want to run in conjunction with auto-discovery of tests.

[2014-07-13 19:58] CleanCut opened #25 "Handle tracebacks more nicely"
- Highlight the most pertinent part of a traceback
- Cut out useless parts of the traceback

Depends on #14 and avoiding unittest's mangling of tracebacks.

[2014-07-17 16:10] CleanCut opened #26 "-vv doesn't find a docstring description if the docstring begins with `\n`"
-vv needs to look past initial whitespace to find a docstring line.

[2014-07-17 23:53] #20 closed, assigned to CleanCut

[2014-07-20 20:41] #14 closed, assigned to CleanCut

[2014-07-20 23:10] #26 closed, assigned to nobody

[2014-07-23 17:22] #7 closed, assigned to CleanCut

[2014-07-27 22:24] CleanCut opened #27 "bash-/zsh-completion integration should redirect stderr to /dev/null as well"
bash-/zsh-completion integration should redirect stderr to /dev/null as well

[2014-07-27 22:26] CleanCut opened #28 "Description of dotted object in exception listing is missing class"
Lets just change it to report the full dotted-name of the test, now that we always have access to it.

[2014-07-30 17:54] #21 closed, assigned to CleanCut

[2014-07-30 18:42] #27 closed, assigned to nobody

[2014-07-30 23:12] #28 closed, assigned to nobody

[2014-07-31 18:48] CleanCut opened #29 "Capture stdout (and stderr?)"
Right now, any output to stdout/stderr is mixed into the console output at the current cursor spot, messing with our nice output.  Lets handle it in a better way.

hjwp's feedback:

by default py.test captures all stdout/stderr by default, and then only shows you the output from tests that failed.  I think nose does something similar...  it's definitely something that's sometimes useful, but somet

[2014-08-04 03:22] #17 closed, assigned to nobody

[2014-08-04 04:09] #11 closed, assigned to nobody

[2014-08-04 04:16] CleanCut opened #30 "Redo Output Options"
I would rather have fine-grained output options.

We can leave the -v,-vv,-vvv options as shortcuts to a set of the fine-grain options.

Cases we don't currently handle that we want to be able to:
- show the method name AND the docstring
- show only the module name and then trailing dots for the module's tests
- show just the method docstrings (no module or classes)

[2014-08-22 22:32] rolobio opened #31 "Bad import causes no tests"
When testing the following file, green does not find any tests.

[code]

Python unittest's results:

[code]

Green's results:

[code]

Upon removal of the import line, green finds the test and rightly fails it:

[code]

[code]

[2014-08-26 23:38] #31 closed, assigned to CleanCut

[2014-08-26 23:40] CleanCut opened #32 "Get Windows CI passing builds on AppVeyor"

[2014-08-29 16:05] #32 closed, assigned to CleanCut

[2014-09-01 05:17] #5 closed, assigned to nobody

[2014-09-10 19:23] #8 closed, assigned to nobody

[2014-09-22 05:41] #29 closed, assigned to nobody

[2014-10-09 00:16] meejah opened #34 "subunit support"
I've just started playing with Green and it works really well so far. However, I'd like to use it in automated tools, and I've had good success with subunit for this (reporting up to buildbot, for example).

Supporting subunit via a plugin or directly would be great!

Alternatively, some sort of structured output option (junit XML? json?) would be nice instead (or as well).

[2014-11-25 21:10] CleanCut opened #35 "Import Errors shouldn't crash "green --completions""
In the context of providing an autocompletion list, it makes much more sense for green to ignore import errors than raise them and crash.

[2014-11-25 21:33] #35 closed, assigned to CleanCut

[2014-12-11 20:15] CleanCut opened #36 "Support external concurrent requirements"
Many test environments require extra tooling for concurrently accessing external requirements.  We need support for this in subprocess mode.  For example, each subprocess may need to set up its own database for tests to access.

[2014-12-15 02:00] naglalakk opened #37 "Verbosity levels when running green with django"
Is green's fine verbosity an option when running green as the default test runner for django?
I tried but I got django's default v3 level, where showing you how it's setting up the test database is as verbose as it gets.

[2014-12-15 05:18] #37 closed, assigned to nobody

[2015-01-16 13:48] marek-mazur opened #38 "Consider creating 'Parameterized tests'"
Parameterized tests are the only one feature that i miss in green.

[code]
or
[code]

http://nose2.readthedocs.org/en/latest/params.html
https://github.com/nose-devs/nose2/blob/master/nose2/tools/params.py

[2015-01-16 16:01] CleanCut commented on #38
That looks pretty cool!

[2015-02-26 08:59] marek-mazur commented on #38
Any plans?

[2015-02-27 20:29] CleanCut commented on #38
I don't have any current plans, no.  I have lots of other things going on at the moment.

I'd be happy to review a pull request if you or someone else would like to take a stab at it!

[2015-03-01 19:34] marek-mazur commented on #38
Ok. I will try to do it, when i find some time. ;)

[2015-03-15 16:10] Julian commented on #38
I'm not the author obviously :), but green is a test runner. It's annoying when things reinvent this sort of thing -- there are libraries that do this, and they should (I expect) work with green.

https://pypi.python.org/pypi/testscenarios is one, and I'm fairly sure I've ran green on test suites that use it successfully (although I use a fork of testscenarios which is even more likely to work wit

[2015-03-15 16:12] Julian commented on #34
You can (easily) downconvert subunit to junit XML -- and it's fairly easy to generate subunit if you have similar support for reporters as trial does (I haven't checked, is there?) Regardless, if you have subunit support you'd be able to use green in Jenkins.

[2015-03-15 16:13] Julian commented on #6
I have a similar comment here as in #38, which is that https://pypi.python.org/pypi/testrepository already exists and does this, so if you have #34, you'd be able to just use that, or for me, I'd be able to just keep using that

[2015-03-16 15:01] CleanCut commented on #34
@Julian Green does not have a plugin interface like trial reporters, and I have no plans to add one at the moment.

I do still think it would be good to add features to green such as subunit support, though.  Real life just keeps delaying me from getting to it.  Patches welcome if someone beats me to it!

[2015-03-25 15:18] smspillaz opened #39 "Make green work with nose_parameterized"
Green doesn't work with `nose_parameterized` since it executes tests that `nose_parameterized` [marks](https://github.com/wolever/nose-parameterized/blob/master/nose_parameterized/parameterized.py#L232) as disabled using the nose-specific [`__test__`](https://github.com/nose-devs/nose/blob/master/nose/tools/nontrivial.py#L140) attribute

This attribute is easy to detect, so we should prune any tes

[2015-03-25 15:18] smspillaz commented on #39
Incidentally this also enables parameterised tests #38

[2015-03-25 15:22] hindman opened #41 "Does green support different file naming patterns?"
At various points in `loader.py`, it looks like green intends to support the idea of a `file_pattern`. But I don't see any command-line options to control this behavior. Also, I don't think that the value of `file_pattern` is actually being passed through the call stack down to the underlying `discover()` function. Perhaps I'm overlooking something.

Anyway, green looks like a great project and I'

[2015-03-25 21:10] CleanCut commented on #41
You are correct, I intended to support it and stubbed in support for it, but then no one appeared to ever need it in the real world, so I never ended hooking it up and making sure it worked.  Python's built-in unittest module discovery is hard-coded to discover files named `tests*.py`, so most of the world has followed suit.

If you would like to take a stab at hooking it up, I welcome pull reques

[2015-03-26 14:08] hindman commented on #41
@CleanCut Created a pull request. It might not have everything that's needed, but it at least gets the ball rolling.

[2015-03-26 22:06] #39 closed

[2015-03-27 22:22] CleanCut commented on #38
Okay, we now support nose's parameterized tests in theory.  Give it a try and let me know how it actually goes in practice.  I'll consider this fixed unless I hear otherwise.

[2015-03-27 22:22] #38 closed

[2015-03-30 05:09] CleanCut commented on #41
@hindman I can't find anything to fix with it.  Good job!  I didn't realize it was quite that close to being implemented already.  It'll be released in version 1.8.0 as soon as you let me know how you want me to refer to you (or not) in the changelog.

[2015-03-30 05:09] #41 closed

[2015-03-30 05:11] CleanCut commented on #13
No, that's more crazy than I want to deal with.

[2015-03-30 05:11] #13 closed

[2015-03-30 14:51] CleanCut commented on #39
Included in green 1.8.0, released today.

[2015-03-30 14:52] CleanCut commented on #41
Included in green 1.8.0, released today.

[2015-03-30 21:15] CleanCut opened #44 "Option to disable reporting test's stdout"
It might be nice for some folks who just have crap being output during their tests to just ignore it entirely.  Like this poor guy:

https://groups.google.com/forum/#!topic/nose-users/0lbfW-segJM

[2015-03-31 02:25] CleanCut opened #45 "Add support for a test-timeout option"
On StackOverflow, [it was asked](http://stackoverflow.com/questions/29311096/timing-out-tests-with-green-unit-test-runner) whether green had any timeout functionality similar to the timeout plugin in py.test.  Sounds like an interesting feature.

What would be the best behavior when a test hits the timeout?
- Count as "pass"
- Count as "fail"
- Count as "skipped"
- Count as "expected failure"
- So

[2015-03-31 02:33] CleanCut commented on #45
Ooh, or maybe the timeout behavior should be configurable too.  Something like

    green --timeout=200 --timeout-result=fail

[2015-03-31 07:59] hindman opened #47 "Can all options in ~/.green be overridden on the command line?"
I've got this in `~/.green`:

    verbose = 2
    pattern = *_tests.py

And I'm not having any luck overriding those settings on the command line.

[2015-03-31 15:16] CleanCut commented on #47
Yes, it absolutely should be.  See the documentation at the top of `green/config.py` and the implementation in `mergeConfig` at `green/config.py:316`.

I can't reproduce the problem, I can override them just fine.

Are you aware that `verbose = 2` corresponds to `-v`?  `verbose = 1` is the default and each extra `v` increments the integer.  There's no way (that I can remember) to specify `verbose

[2015-03-31 15:21] CleanCut commented on #47
I have marked this as a question.  If you can find a reproducible bug, I'll switch it to bug instead.

[2015-03-31 20:49] miohtama commented on #45
I think for the inspiration we can look here:

https://bitbucket.org/flub/pytest-timeout/

- Timeout should be counted as a failure (think exception raised inside the text)

- You can specify timeout from command line

- You can also specify one using a function decorator

- Timeoutting is done using threading.Timer and sending signal.alarm

There seems to be also some really complex corner cases,

[2015-04-01 06:14] hindman commented on #47
I did some more experimenting. Here's how things are behaving on my box.

If I delete my ~/.green file, I can run the green test suite in the normal way:

    $ green green/test/
    ...........................sss..........    # etc...
    Ran 139 tests in 0.749s
    OK (passes=135, skips=4)

But if I create this file:

    $ cat ~/.green
    pattern = *_tests.py
    notermcolor = 1

And then try

[2015-04-01 16:18] CleanCut commented on #47
Ah, okay.  The problem is in my logic for trying to detect whether a command-line argument was explicitly set.  That `if` statement checking to see if the command-line argument value is *different* than the default value with the assumption that that will conclusively tell us whether or not the command-line argument was actually specified by the user.

In other words, if we ran

    green

Then `t

[2015-04-01 18:49] #47 closed

[2015-04-01 19:04] CleanCut commented on #47
I just released 1.8.1 which contains this fix.

[2015-04-07 07:41] laike9m opened #50 "Is it possible to run tests using green programmatically?"

[2015-04-07 17:29] CleanCut commented on #50
Yes!

If you will tell me where in your process you want to launch them from, I can point you in the right direction.  For example, is it from a Makefile?  From bash?  From another python script?  From the test file itself?

[2015-04-07 23:04] CleanCut commented on #50
I'm going to go ahead and close this issue, but feel free to reply if you would like help from me.  I'll still get notified even though it's closed.

[2015-04-07 23:04] #50 closed

[2015-04-08 08:32] laike9m commented on #50
[code]
How to run this code using green?

[2015-04-08 10:01] kxepal commented on #50
What's the point of using green in this place? unittest does discovery and testing well.

[2015-04-08 10:28] laike9m commented on #50
@kxepal Quote from green's readme:

People use green for better discovering or testing? Of course not. If what I need is not prettier output, why do I use green?

[2015-04-08 15:34] CleanCut commented on #50
@laike9m I believe something like this should work:

    from green.suite import GreenTestSuite
    from green.runner import run
    from green.config import default_args
    # If you want to change options, modify default_args here
    # default_args.verbose = 3   # etc.
    tests = unittest.TestLoader().discover(
                os.path.join(setup_dir, 'tests'), pattern='*.py')
    run(GreenTest

[2015-04-08 15:40] laike9m commented on #50
Thx CleanCut, I'll try.

[2015-04-08 16:44] #22 closed

[2015-04-10 01:45] smspillaz opened #52 "Don't print \r if we're not connected to a terminal"
`\r` does nothing if stdout is connected to a pipe or file. This means that you'll get duplicated lines, which probably isn't what you want.

[2015-04-10 01:50] smspillaz opened #54 "Use containerized travis-ci build."
`sudo` isn't used in the `.travis.yml` file. Travis CI has a much faster container based infrastructure that we can use if we're just using PyPI to install dependencies.

[2015-04-10 15:48] laike9m commented on #50
@CleanCut Works as expected. Thx again! Why don't put it into documentation?

[2015-04-11 00:11] CleanCut commented on #50
Well, if I'm going to officially support it, I'd rather add a new feature so it goes something more like:

    from green import runTestSuite
    tests = (however you want to manually load tests)
    runTestSuite(tests)

[2015-04-11 16:16] hindman opened #56 "Options set via config file are disrespected"
Options set via a config file are no longer working for me. Here's a simple example:

    $ cat ~/.green
    verbose = 2

    $ green
    .....
    Ran 5 tests in 0.001s
    OK (passes=5)

I observe the same problem with other options in my config file (eg, `file_pattern`). They aren't being picked up at all.

When I checkout to v1.71, the example above works as expected, but not in v1.80 and beyo

[2015-04-13 15:25] CleanCut commented on #52
Sorry for the slow response.  It was spring break weekend.  I'll look into all the recent activity today.

[2015-04-13 15:42] #54 closed

[2015-04-13 17:12] #56 closed

[2015-04-13 19:01] #52 closed

[2015-04-13 19:22] CleanCut commented on #52
Included in 1.9.1 released just now.

[2015-04-13 19:23] CleanCut commented on #56
Included in 1.9.1 released just now.

[2015-04-13 19:23] CleanCut commented on #54
Included in 1.9.1 released just now.

[2015-05-08 15:49] xdrjbotts opened #58 "Green 1.9.1 - would appear that --allow-stdout is broken"
Hi -

Very much like green - thanks for providing it.  It would appear that the -a or --allow-stdout option is not working - stdout is still captured with the argument.  Have tested with

Green 1.9.1, Python 3.4.3
Green 1.9.1, Python 2.7.9

If I change the value of allow_stdout to True in default_args in config.py:47 - then stdout is not captured - so it would appear that there is some issue in pa

[2015-05-08 16:37] CleanCut commented on #58
Lets find it and fix it.  Can you show me your actual config file, the command-line arguments you were using, and exactly how you were getting stuff to stdout (print statement?)?

[2015-05-08 17:51] CleanCut commented on #58
Found it!  Fixed it.  I just released 1.9.2 that includes the fix.  It was a regression that affected only that one option's implementation.

[2015-05-08 17:51] #58 closed

[2015-06-03 17:43] dougthor42 opened #59 "Change blue to cyan for skipped tests"
The blue color tends to not show up very well under windows CMD:

![image](https://cloud.githubusercontent.com/assets/5386897/7966954/116c6406-09dc-11e5-91dd-5d6465dd80af.png)
![image](https://cloud.githubusercontent.com/assets/5386897/7967163/5452c890-09dd-11e5-9a5c-e521c5dc4be2.png)

If changed to cyan:
![image](https://cloud.githubusercontent.com/assets/5386897/7967082/dca695f6-09dc-11e5-9f9b-4

[2015-06-05 19:06] CleanCut commented on #59
Sorry for the slow response, I've been swamped in my day job lately.

Question: Is that the default "blue" color on Windows?  (if so, what a stupid default color to choose for blue against black, microsoft)

In my experience with Linux and OS X, the default color scheme has blue a readable color, and if people customize their color scheme, then they ought to make sure blue ends up readable.

But i

[2015-06-05 20:15] dougthor42 commented on #59
Haha yeah, it's the default color for Windows CMD :-(

Thanks,

[2015-06-07 20:23] #59 closed

[2015-06-07 20:29] CleanCut commented on #59
I fixed it in the upcoming 1.9.3 release.  Would you like me to mention you in the changelog?  If so, would you prefer I use your user name or real name?

[2015-06-07 23:21] dougthor42 commented on #59
No need to mention me. :-)  Though if you do, I guess I'd prefer username.

Thanks!

[2015-06-08 13:43] krisztianfekete opened #60 "uncaught exception from testcase - exit without traceback"
Python 2.7.10 & 3.4.3

I have a failing test (in fact it is expected at them moment lacking some implementation), yet I get no traceback, nor do any remaining tests run - clean exit after printing a red E, which is quite embarrassing.

[code]
In fact I get the same clean exit from plain `unittest`
[code]
Note: even a final new line was not printed!

`unittest2` shows a relevant traceback and stops

[2015-06-08 14:04] krisztianfekete commented on #60
Reproduce with:

[code]

[2015-06-10 13:38] krisztianfekete commented on #60
I have managed to reproduce it with a smaller code, see https://github.com/testing-cabal/testtools/issues/144

Even if the original problem is elsewhere I still think `green` needs a fix too, as I get no help from it diagnosing the problem.

[2015-06-10 16:27] CleanCut commented on #60
Ah, thank you!  The smaller code helps.  Sorry for the slow response, I have been swamped by life in general at the moment.

I agree, this should definitely be handled by green.

[2015-06-15 21:28] CleanCut commented on #60
Okay, I finally got some time to sit down and look at this.  Unfortunately, I can't reproduce your issue!

What am I missing?

I'm using this code (adapted from your post you linked to above):

[code]

[code]

[2015-06-15 21:32] krisztianfekete commented on #60
the first code fragment is the one - with testtools in it, as testtools causes the problem:

[code]

[2015-06-15 22:09] CleanCut commented on #60
@krisztianfekete

It appears to be a conscious design choice that testtools will consider `KeyboardInterrupt` and `SystemExit` as being outside the scope of something that you want to test.  In other words, they are letting those exceptions go through to the main python interpreter *on purpose*.

If you would like, you may review the relevant testtools code yourself (in their current master branch

[2015-06-15 22:09] #60 closed

[2015-06-16 00:05] krisztianfekete commented on #60
I am disappointed, maybe I have failed to convey my problem.

Let me try again:

I expect from a test runner
- to run tests
- provide feedback
- show information about failures

I have presented a test case, where all three above was compromised.  This is clearly a problem.
Whatever caused the failure, green has failed as well.

The whatever in this case is a widely used test library, these are [t

[2015-06-16 03:12] CleanCut commented on #60
I agree that catching it in your one test won't prevent this situation from occurring again in other tests.

Catching the specific instance of `SystemExit` that is causing you problems would be a good, pragmatic solution to your current problem test in the short term.

Solving it in the long-term is always better.

It would be great for the testtools to conform to standard python TestCase behavior

[2015-06-16 08:54] krisztianfekete commented on #60
Patching it in testtools will be hard and time consuming, it looks like a conscious decision and they even defended that decision over the years.

But even if it is patched green does not print stack trace next time.  Would you accept the pull request that prints a stack trace?

[2015-06-16 18:37] CleanCut commented on #60
I think your idea has merit.  Global handling of any unanticipated exceptions would be an excellent way to handle any corner cases caused by poorly-coded testing frameworks (including my own, if I fall into the same trap).  I will move over to the pull request and continue commenting there, instead of on this issue.

[2015-06-17 21:24] CleanCut opened #62 "Improve Green's own Unit Tests"
Areas that could be improved:

* Use only one style of docstring
* Leverage helper functions and `textwrap.dedent()` to reduce the amount of boilerplate code in tests where we write external test files to load and run.
* Use newer testing facilities like `addCleanup` and context handlers.

[2015-06-17 22:36] CleanCut commented on #60
Version 1.10.0 was just released which contains the change that addresses this (and more...)

[2015-06-18 05:03] smspillaz opened #63 "TypeError: __init__() takes at most 5 arguments (6 given) in subprocess.py"
I'm getting the following traceback on pypy3

    Traceback (most recent call last):
      File "/home/travis/build/polysquare/polysquare-ci-scripts/setup.py", line 44, in <module>
        include_package_data=True)
      File "/opt/python/pypy3-2.4.0/lib-python/3/distutils/core.py", line 148, in setup
        dist.run_commands()
      File "/opt/python/pypy3-2.4.0/lib-python/3/distutils/dist.py",

[2015-06-18 07:50] krisztianfekete commented on #63
`context` is optional in `multiprocessing.Pool.__init__` and not used in `green` at all.

Would it do any harm if removed from `LoggingDaemonlessPool.__init__`?

[2015-06-18 16:20] CleanCut commented on #63
@smspillaz

First, I'm not at all surprised that pypy3 crashed, as pypy3 targets the functionality of CPython 3.2.5, and CPython 3.2.0 was so hilariously awful from an implementing-green-point-of-view that I never even attempted it.  (Green officially supports CPython 2.7, 3.4+, and pypy)

Second, I was absolutely shocked that pypy3 passed all of green's unit tests once this issue you pointed out

[2015-06-18 22:27] #63 closed

[2015-06-19 20:27] dougthor42 opened #65 "Seems like Green runs the same tests multiple times"
I have a project that I've been fiddling with. I was trying to decide between the following two project structures:

Structure A (the original structure):
[code]

Structure B (what I tried moving to):
[code]

Before making the change from A to B, nosetests and green worked just fine. My project currently has 23 tests.

After switching to structure B, nosetests worked just fine, while green ran 46

[2015-06-19 21:51] CleanCut commented on #65
Green will not save anything at all.  It will, however, look at `.pyc` and `.pyo` files, as well as the `__pycache__` folder as you guessed.

My only guess without more information is that you either have some compiled python bytecode laying around somewhere, or your "WinPython" is affecting something.

What exactly do you mean by "WinPython 1.1"?  I googled, and "WinPython" seems to refer to lots

[2015-06-20 05:36] dougthor42 commented on #65
Figuring out what error I get on 1.10 and 1.11 will have to wait till I get back to work on Monday, but I vaguely recall something about a runner... Anyway, more details on that later.

I've tried clearing my .pyc and .py0 files too to no avail. I've also been unsuccessful at recreating the issue, though it still exists in my current project. Luckily it's not an issue during my travis or appveyor

[2015-06-20 18:01] CleanCut commented on #65
green will also detect locally packaged versions of a module, like if you have a setup.py and use it to create a *.egg* directory.

Is your project open source?  If I could see what's going on, it would be much easier to find the issue.

[2015-06-22 16:57] dougthor42 commented on #65
That seems to be the case. I use setuptools to create wheels via `python setup.py bdist_wheel` and that creates a `ProjectFolder\build\lib` folder in  which contains copies of the source files.

Deleting the `build` folder fixed the issue. Thanks!

Is there a way to exclude folders from the test runner / search?

-----
And yes, the project is open source: https://github.com/dougthor42/PyBank. Stil

[2015-06-22 18:20] CleanCut commented on #65
Ok, I'll go ahead and close this then.

No, there's currently no way to exclude things as an option.  You can, however, specify multiple targets to "include" instead of defaulting to the current directory.  For example, in your project you could run `green pybank` instead of `green` and that would probably avoid catching any build-related artifacts you happened to have created.

[2015-06-22 18:20] #65 closed

[2015-06-22 18:22] dougthor42 commented on #65
Ah yes, `green pybank`. I really should read the docs :-P

Thanks.

[2015-06-22 18:24] CleanCut commented on #65
No problem!  I'm glad you're using green.  Out of curiosity, why did you personally pick green for your project?

[2015-06-22 19:17] dougthor42 commented on #65
Well it really came down to how easy it was to read a verbose output. Having things color-coded makes a big difference in my opinion. I also really like that there's a hierarchy - you can see the file, class, and method/docstring being run.

Right now I don't have many tests, but I've tried helping debug a large project (100s of tests) and it's a pain to look at `nosetests -v`. I mean, the least t

[2015-06-22 19:23] dougthor42 opened #67 "Support AppVeyor's PowerShell"
Running green in AppVeyor CI does not color results.

However, I think this may be an AppVeyor issue, as I can run green in Windows PowerShell myself and get at least some form of coloring (other issues, such as IT permissions here at work) are preventing me from really testing green + PowerShell thoroughly.

I figured I'd record this issue here even if it's out of your control.

[2015-06-22 19:32] CleanCut commented on #65
The only thing green won't currently do for you is call the `coveralls` command for you.

You can just do this, though:

[code]

I also recommend adding `-s 0` to run the tests in multiple processes if they are concurrent-safe.

[2015-06-22 19:35] dougthor42 commented on #67
Confirmed, green works just fine in Powershell:
![green powershell](https://cloud.githubusercontent.com/assets/5386897/8290951/154cb324-18db-11e5-9f8c-4bc5a1d574f8.jpg)

(though the blue is a little hard to read).

So it must just be an AppVeyor thing, or perhaps how they mimic powershell in the browser.

[2015-06-22 19:50] dougthor42 commented on #65
Oh that's right, I'd forgotten that it's the `after_success: coveralls` command that uploads data, not the `--cov` flag in `nosetests`.

So yes, I can stop using nose altogether, that's nice.

----
One issue: Green's coverage doesn't count 0% files against the total while nose does. Is there an option for this?

Nose:
[code]

Green:
[code]

[2015-06-22 19:54] CleanCut commented on #67
Apparently AppVeyor started supporting color ... but it still doesn't work.

I've added a comment to their discussion of color support asking for help:

http://help.appveyor.com/discussions/suggestions/197-support-ansi-color-codes

[2015-06-22 20:08] CleanCut commented on #65
Hmmm.  No.  That must be a design difference.

Green will only run coverage on files that you import through your tests.  It presumes that if you didn't import it, then you didn't want to test it, so you don't want it covered.  (As a nice extra, green also presumes that you don't care about coverage of your actual test files, since that's sort of nonsensical.)

You can get really close if you just

[2015-06-22 20:22] dougthor42 commented on #65
I'll have to decide which I like better.

On the one hand, it's true I probably don't care about coverage for files that I don't test. I also don't care about coverage of actual test files.

On the other hand, it's a good way to remind me to add tests for those 0% files.

I'm leaning towards your method, but we'll see what the future holds.

Thanks for all the quick replies!

[2015-06-22 22:33] CleanCut commented on #65
No problem!

[2015-06-23 03:52] CleanCut commented on #67
Fixed.  You can preview it in the `process-overhaul` branch or wait until the next release comes out.  Here's an example just for fun: https://ci.appveyor.com/project/CleanCut/green/build/job/4sn6gm4awraogqxb

[2015-06-23 03:52] #67 closed

[2015-06-29 05:02] smspillaz opened #68 "Since 97569e1, setUpClass is called once per test"
Since 97569e1 `setUpClass`, `tearDownClass` `setUpModule` and `tearDownModule` get called once per unit test. This is due to running each suite's component individually, as the subprocess mode does.

According to the [unittest documentation](https://docs.python.org/2/library/unittest.html#class-and-module-fixtures) the order and number of times `setUpClass` and `tearDownClass` are called isn't str

[2015-06-29 21:30] CleanCut commented on #68
(See comment on #69)

[2015-07-10 05:27] MinchinWeb opened #70 "Error in green.runner.N/A.poolRunner"
Firstly, thanks for creating this project. I quite enjoy being able to add a little bit of colour to the command line!

Something changed in `green` between version 1.9.4 and 1.10.0. Before all my tests ran as expected. Output from v1.9.4:

[code]

However, with v1.10.0, none of the tests pass, and it seems to be an issue with `green`. Here is the output:

[code]

I'm running Python 3.4.2 on Windo

[2015-07-10 17:35] CleanCut commented on #70
Oh my.  That's quite a regression.  What command-line options or config file settings are you using?

[2015-07-10 17:42] MinchinWeb commented on #70
I'm running `green tests -vv`. I don't think I have configuration file
setup.

--
- William

[2015-07-22 08:16] CleanCut commented on #70
This is fixed in the `simplify-subprocesses` branch.  It will be released as part of 2.0, hopefully this week.  I see you have been busy writing tests!  Here is what the tests look like with the current code I'm working on:

[code]

[2015-07-23 21:56] ondrae opened #72 "Use pdb with green"
Hi, I'm trying to debug a test. I usually inset break points using the pdb library. Green seems to swallow up those break points and skip right over them.

How can I use `import pdb; pdb.set_trace()` in combination with green tests?

[2015-07-23 22:49] CleanCut commented on #72
Off the top of my head, I have no idea.  Green launches the actual tests in one or more subprocesses for scalability reasons, which is almost certainly why you're seeing stuff get ignored.  Perhaps there is some way we could make green pass pdb through to a single subprocess to make such a thing work.

I'm open to suggestions!

In the short term, you could just sidestep green and import and run yo

[2015-07-24 05:13] CleanCut commented on #36
Dooooone!  It will be in the upcoming 2.0.0 as `-i/--initializer` and `-z/--finalizer`

[2015-07-24 05:13] #36 closed

[2015-07-24 05:15] CleanCut commented on #68
Fixed, thanks to you!  I really appreciate all the time you put into your pull requests.  We wouldn't be where we are without your effort. :-) 2.0.0 should be out soon (tomorrow...Monday...maybe?) when I can finish up all the busywork that goes along with a release (changelog, cleanup, etc.)

[2015-07-24 05:15] #68 closed

[2015-07-24 05:16] CleanCut commented on #70
`2.0.0` is imminent.  Tomorrow, I hope.  Or Monday.

[2015-07-24 05:16] #70 closed

[2015-07-24 13:58] MinchinWeb commented on #70
:+1: Looks great! Thanks for quick fix.

As for those last two failing tests of my own, their a little annoying as they work on Python 3.4, but not 2.7... but I'll figure them out eventually!

[2015-07-24 17:41] CleanCut commented on #70
`2.0.0` has been released!!!

[2015-07-24 17:42] CleanCut commented on #68
`2.0.0` has been released!!!

[2015-07-24 17:42] CleanCut commented on #36
`2.0.0` has been released!!!

[2015-07-24 22:45] TadLeonard opened #73 "possible problem with virtualenv"
I'm using `py.test` for [my project](https://github.com/TadLeonard/husl-numpy). It works nicely from within a virtualenv.

[code]

Note that `numpy` is importable. Let's run the tests.

[code]

Yay! It works. Now, here's where I've put `green`:

[code]
Let's run the tests with `green`:

[code]

What might I be doing wrong? Thanks.

[2015-07-24 23:39] CleanCut commented on #73
Well, I'm not sure how it happened, but despite your `which green` output, you're traceback output shows that you are running `/usr/local/bin/green` which is using `/usr/local/lib/python3.4/site-packages` which doesn't have numpy installed.  You just need to get the right green called.

One way is you could try calling the virtualenv copy of green directly:

    /home/tad/Downloads/share/husl-nump

[2015-07-24 23:39] #73 closed

[2015-07-24 23:43] #62 closed

[2015-07-25 00:13] CleanCut commented on #25
Not going to do.  Python's traceback mangling makes this one very...fuzzy.  And it's just not that much of an issue in normal usage.

[2015-07-25 00:13] #25 closed

[2015-07-25 04:18] TadLeonard commented on #73
Thanks for the help. Yes, running *env/bin/green* directly works. I still don't understand why `nose` and `py.test` behave differently in my setup.

If you don't mind me asking an unrelated question here... how do I get `green` to run `py.test`/`nose` style tests (i.e. simple functions starting with "test_' that pass/fail via assert statements)?

[2015-07-25 17:12] CleanCut commented on #73
@TadLeonard Green's test discovery is currently based on the built-in unittest implementation, which only looks at `unittest.TestCase` subclasses.  @msoedov was saying just yesterday in the Gitter channel that he was going to look into adding that type of support to discovery.

If we do add support, I expect that you will most likely need to enable explicitly via some option such as `--extra-disco

[2015-07-27 18:57] MinchinWeb opened #74 "Green 2.0 fails on Windows"
It seems that Green 2.0 isn't working on Windows.

When I run `green tests -vv`, with Python 2.7.10, the output I get is:

[code]

When I run `green tests -vv`, with Python 3.4.3, the output I get is:

[code]
and then it hangs, and I get sick of waiting, so I press CTRL+C, and I get:
[code]

I think this might be a Windows issue, because the tests pass fine on Travis-CI (see https://travis-ci.org/

[2015-07-27 18:58] MinchinWeb commented on #70
Somethings is still broken :( see #74

[2015-07-31 01:52] CleanCut commented on #74
Sorry about the slow response.  I have been swamped.

Your problem is that you need an `__init__.py` file in your tests directory.

In 2.0.1 green now properly handles the failure and reports it, along with some advice as to how to fix it.

[2015-07-31 01:52] #74 closed

[2015-07-31 20:41] CleanCut opened #75 "Properly handle the common case of tests/ without an __init__.py"
It is very common to have:

    proj/
        module/
            __init__.py
            ...
        tests/
            (no __init__.py)
            ...

The main process discovers the tests fine, but when the worker receives the name of the module, it fails to load it when `tests/` doesn't have an `__init__.py`.

Fixing this may also fix other run-green-from-a-different-directory-can't-load-test

[2015-07-31 20:49] mekhami commented on #75
Hey, thanks for addressing this.

It's also worth noting that if this were documented, I'd have just added the __init__.py and not thought twice about it, so that's possibly a perfectly suitable stopgap until a better solution is found.

Thanks again!

[2015-07-31 20:58] CleanCut commented on #75
No problem!  I have found that the biggest obstacle to fixing bugs is simply becoming aware that the bug even exists.  Thanks for clueing me in!

[2015-08-01 17:11] MinchinWeb commented on #74
Thanks for the help! I got it working now.

[2015-08-02 00:12] CleanCut commented on #74
Great!  Glad to hear it.

It turns out this is a very common setup for python packages (a `tests` directory without an `__init__.py`), so I've created #75 -- I plan to have version be able to run without adding the `__init__.py`

[2015-08-03 03:58] CleanCut opened #76 "Captured stdout/stderr is lost in 2.0.0"
Captured stdout/stderr is getting lost somewhere.  `-a/--allow-stdout` works to get it to the console, but without it, it's just being lost.

[2015-08-03 04:40] CleanCut commented on #75
@mekhami Okay, I'm baffled.  I cannot reproduce the problem myself.  Is there any way that you could provide me with a minimal project that has the problem?  Everything I have tried has ended up actually being loaded and run successfully, whether or not there was an `__init__.py` present.

[2015-08-03 13:36] ayrtonmassey opened #77 "ImportErrors caused by a line containing unicode text cause UnicodeError when attempting to log trace"
I'm using green 2.0.1 in Python 2.7.6. I had a bug in a line of my code that contained unicode characters. When I attempted to run green, I got the following error:

[code]

The offending lines are 229 & 230 in `green/loader.py`:

[code]

It seems that `traceback.format_exc()` cannot process unicode characters. Removing `traceback.format_exc()` fixes the problem but obviously removes the traceback

[2015-08-03 15:08] CleanCut commented on #77
That's an interesting one!  Could you provide me a minimal test case that I could use to produce the crash?  I don't know how I could reproduce that.

[2015-08-03 15:45] ayrtonmassey commented on #77
It seems to only be a problem if you use the actual characters (e.g. `”` (`RIGHT DOUBLE QUOTATION MARK`) instead of `\u201d`). See the following example:

`module.py`:
[code]

`test.py`:
[code]

What happens is that I attempt to import `module`, but an error occurs when importing. An exception should be thrown but `traceback` fails to format the *original* exception because of the unicode characte

[2015-08-07 20:05] calebmeyer opened #78 "Add screenshots to readme."
This test runner is labeled colorful by the description, yet shows no colors in the readme.

Could we add screenshots, similar to the readme for [httpie](https://github.com/jkbrzt/httpie)?

[2015-08-11 18:48] CleanCut commented on #78
(Sorry for the delay, I was on vacation)

That's a great suggestion!  I'll see if I can get to that today!  Thanks for linking to a good example.

[2015-08-12 22:36] CleanCut commented on #78
Done!

[2015-08-12 22:36] #78 closed

[2015-08-13 18:56] tume opened #79 "Not reading config options from file"
Using green as django testrunner and config file seems to be the only way to actually pass any options to green.

I have created $HOME/.green file but no affect no matter what options I put there... also tried setting GREEN_CONFIG env variable but also no affect.

Using Green 2.0.1, Python 3.4.2

[2015-08-14 16:22] CleanCut commented on #79
Okay, so you're saying that you're using green in a django project, and neither `$HOME/.green` or `GREEN_CONFIG` seem to get your options through to it, right?

What is the content of your `.green` file?  Are you using the command-line way to specify green, the setup.py way, or some other way?  (see https://github.com/CleanCut/green#django )

[2015-08-14 18:20] tume commented on #79
`$HOME/.green`:
verbose       = 3
logging       = True
debug         = 1

I was first interested just specifying processes count and allow-stdout but thought that these would be easier to test.

I also downgraded to green 1.7.1 and with that version it seems to read these correctly or at least I get more verbose output.

In my django config: `TEST_RUNNER="green.djangorunner.DjangoRunner"
`

[2015-08-16 22:33] CleanCut commented on #75
Okay, I can't reproduce the problem, so I'm going to close this issue.  If someone can provide me with a way to actually reproduce the problem reliably, we'll reopen this issue and get it fixed.

[2015-08-16 22:33] #75 closed

[2015-08-18 23:43] amitsaha commented on #72
This is a deal breaker :( My experience with ``nose`` and ``pdb`` is often it just hangs where I place the ``set_trace()`` function. However, I have always been able to use ``from nose.tools import set_trace; set_trace()`` to drop me into a ``(pdb)`` shell.. Perhaps you may get ideas from there.

[2015-08-19 00:23] CleanCut commented on #72
That's a great start.  I'll see what they did.

I also have a coworker who has done some interesting things with remote-debugging with pdb, so I now know it's definitely possible to attach a debugger to an arbitrary process...somehow.  I'd love to give this enhancement a shot once I finish addressing the outstanding issues.

[2015-08-20 18:30] CleanCut commented on #76
Fixed in 2.0.2

[2015-08-20 18:30] #76 closed

[2015-08-24 04:08] CleanCut commented on #77
Well, essentially you're right.  Python 2 just expects strings a lot.  Even if the file is correctly marked as being in unicode encoding, the traceback module doesn't care and expects everything to be an ascii string.

I haven't been able to figure out a nice way to dig out the actual exception (I'm sure there *is* a way, I just don't feel like spending the 4 hours it will take to find it on such

[2015-08-24 04:11] #77 closed

[2015-08-24 04:12] CleanCut commented on #77
Oh, and the fix is in the 2.0.3 release.

[2015-08-26 00:03] MinchinWeb commented on #75
@CleanCut, are you looking for a project that `green` won't run if there is a missing `__init__.py`?

[2015-08-26 15:43] CleanCut commented on #75
@MinchinWeb Specifically, a project where `tests/` is a sibling directory to the project code, and there is no `tests/__init__.py` and green won't run the tests.

[2015-08-26 18:13] MinchinWeb commented on #75
@CleanCut, I think that was the issue with #74 : `tests/` was a folder at the same level as the main module, and with no `tests/__init__.py`, green won't run the tests, but oddly only on Windows. See if [colourettu](https://github.com/MinchinWeb/colourettu/) will work as the test case you're looking for.

[2015-09-03 18:04] musicformellons opened #80 "Error running Django"
I installed it in the virtualenv 'proj' and want to run some django test but get an error:

(proj) usr@usr-XPS:~/proj$ python manage.py test --testrunner=green.djangorunner.DjangoRunner
Creating test database for alias 'default'...
EEEETraceback (most recent call last):
  File "manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "/home/usr/.pyenv/versions/proj/lib/pytho

[2015-09-03 23:54] CleanCut commented on #80
What version of Django are you using?  What operating system are you on?

Is your project open source?  If so, where's the repo for it?  If not, could you provide a minimal example so I can reproduce the problem?

[2015-09-04 06:51] musicformellons commented on #80
Django 1.8.4 with Ubuntu Gnome 15.04
I am working on Cookie Cutter Django:
https://github.com/pydanny/cookiecutter-django

further info:
~$ pip freeze
alabaster==0.7.6
Babel==2.0
binaryornot==0.4.0
chardet==2.3.0
click==3.3
colorama==0.3.3
cookiecutter==1.0.0
coverage==4.0b2
decorator==4.0.2
defusedxml==0.4.1
Django==1.8.4
django-allauth==0.23.0
django-autoslug==1.8.0
django-braces==1.8.1
django-c

[2015-09-11 16:56] CleanCut opened #81 "Summary should come after coverage report"
When we enable the coverage report, we should put the report before the summary so that you can still see whether tests passed or not without needing to scroll (potentially a long way) upwards.

[2015-09-12 16:10] enkitosh opened #82 "How to run coverage with django?"
Hi I fail to see how I would run coverage on top of having green as TEST_RUNNER in django.

    python manage.py test --run-coverage

manage.py: error: no such option: --run-coverage

of course because --run-coverage is not an option of manage.py. But how do I combine this?
I've tried putting this into my ~/.green config

    run-coverage = True

but it does not change anything. Hoping I haven't m

[2015-09-14 15:39] CleanCut commented on #80
Sorry this took me so long to get to.  I have been swamped.

The root of the problem is that your project has `{{cookiecutter.reponame}}` as the name of your python package directory, which is not a valid name.  See https://www.python.org/dev/peps/pep-0008/#package-and-module-names

I was able to fix green to avoid trying to import packages with invalid names so that green itself no longer crashes

[2015-09-14 15:56] CleanCut commented on #80
Fix will be in `2.0.5`

[2015-09-14 15:56] #80 closed

[2015-09-14 16:59] #79 closed

[2015-09-14 16:59] CleanCut commented on #82
There was a bug preventing the DjangoRunner from reading config files.  It has been fixed in the upcoming 2.0.5 release.

[2015-09-14 16:59] #82 closed

[2015-09-14 17:00] CleanCut commented on #79
Sorry for the slow response.  Life has been very crazy for me.  There was definitely a bug causing the `DjangoRunner` to ignore all config files.  The bug is fixed in the upcoming `2.0.5` release.

[2015-09-14 18:29] CleanCut commented on #81
Done in `2.0.5`

[2015-09-14 18:29] #81 closed

[2015-09-15 13:54] enkitosh commented on #82
Ok nice, good to know. Thank you CleanCut :+1:

[2015-09-15 14:33] CleanCut commented on #82
No problem!  `2.0.5` and `2.0.6` were released yesterday.

[2015-09-18 13:15] mindbrave opened #83 "Default value for --processes flag is not 1 as told in help"
It's instead multithreading.cpu_count().

[2015-09-18 16:58] #83 closed

[2015-09-18 16:59] CleanCut commented on #83
Thanks for finding this!  The fix to the help text will go out in the next release.

[2015-09-18 17:12] CleanCut commented on #83
The change was included in `2.0.7`, which was just released.

[2015-09-21 11:19] mindbrave commented on #83
Thanks, but I would consider setting default as `1`. I lost some time debugging my integration tests which were running concurrently and flushing db at the worst time. I wasn't aware that tests can run in parallel by default :)

[2015-09-21 11:44] krisztianfekete commented on #83
I am another user and I like it running tests concurrently by default, because I can spare remembering  and typing `-s 0` all the time.

@mindbrave  Would it helped you debugging if the number of concurrent processes was displayed?

Something like this:
[code]

New stuff here is ` using 4 processes`

[2015-09-21 11:58] mindbrave commented on #83
@krisztianfekete Yes, I think so. Green is the first test runner I met that runs things concurrently by default.

[2015-09-21 20:38] CleanCut commented on #83
@krisztianfekete That's an excellent idea.  I think I'll create an issue for that just so that I remember to actually do it.

[2015-09-21 20:38] CrypticGuru opened #84 "Long docstrings are printing twice."
If a docstring is long enough that the line needs to wrap in the terminal, it appears that the line is being printed twice.

[2015-09-21 20:40] CleanCut opened #85 "Display how many processes were used"
Lets indicate how many processes were used in the performance line.  Something like: `Ran 71 tests in 3.118s using 4 processes`

Suggestion is from comments in #83

[2015-09-29 10:52] robertlagrant opened #86 "Top: Without Green. Bottom: With Green!"
The one without Green seems way more colourful :) Maybe change the text or swap the images around?

[2015-09-29 15:24] CleanCut commented on #86
Oh, actually I switched the images from where they were originally, and forgot to change the text.  Thanks for reporting it!

[2015-09-29 15:26] CleanCut commented on #86
Fixed in master.

[2015-09-29 15:26] #86 closed

[2015-09-30 04:04] jruere opened #87 "Support the load_tests protocol"
The unittest module implements the load_tests protocol and this is not supported, AFAICT.

https://docs.python.org/2/library/unittest.html#load-tests-protocol

[2015-10-01 03:10] CleanCut commented on #87
You are correct, I believe.  I have never looked into that feature (in fact, I was barely aware that that feature existed).

It would be good to support the full unittest functionality.  If you want to take a crack at submitting a patch, the place to tweak would probably be `green/loader.py` in `loadFromModule()` and/or `loadFromModuleFilename()`.

If not, I may take a crack at it myself after som

[2015-10-02 02:35] SamuraiT opened #88 "does green support doctest?"
Does green support doctest?
I am using doctest, but seems like green does not support doctest.

[2015-10-02 16:02] CleanCut commented on #88
Though I am familiar with the concept of doctests, I have never personally used them or even looked into them.  So no, green does not currently support them unless our close ties to the built-in unittest framework brings it in for free.

Tell me, how do you usually write/run doctests?  Is it part of unittest?  Is it part of python?  Is it a 3rd-party add-on?  I'm curious.

[2015-10-02 20:37] CleanCut opened #89 "Consider supporting nose's attr behavior"
See

http://stackoverflow.com/questions/32361927/skipping-tests-with-certain-attributes-in-green-like-you-can-with-nosetests?noredirect=1#comment53658443_32361927

[2015-10-03 06:19] SamuraiT commented on #88
all right. I am using just built-in doctest. let's say I have a file called `foo.py` which is
[code]
and just run the test
[code]

just like that, but as you can see, it's hard to understand the stdard output.
I wish you could solve it or I could help solving it

[2015-10-03 11:43] robertlagrant commented on #86
Sure :)

[2015-10-05 15:10] CleanCut commented on #88
I think it would be great if you gave it a try!  That would be a wonderful feature to add to Green.  I wonder if doctest uses unittest under the hood.  If it does, that would be a great place to do the integration.

[2015-10-08 05:48] SamuraiT commented on #88
I never checked out that doctest runs under the unittest, I'll check it out.

[2015-10-13 07:48] jayvdb opened #90 "directory discovery confused"
For https://github.com/wikimedia/pywikibot-core , specifying the directory `tests/` causes only [tests/tests_tests.py](https://github.com/wikimedia/pywikibot-core/blob/master/tests/tests_tests.py) to be run.

[code]
Ignore the ERRORs, Tracebacks and skips -- the above result is perfect, except that it is running 1 of 1000s of unit tests!  Also running each test module works; e.g.
[code]

Renaming

[2015-10-13 08:16] jayvdb commented on #90
fwiw, solving https://github.com/CleanCut/green/issues/87 would also solve our needs, but it seems like this bug is much smaller, and can cause problems for projects which are not using `load_tests` protocol.

[2015-10-13 08:23] jayvdb opened #91 "Cannot be run using python -m"
[code]

[2015-10-13 08:33] jayvdb opened #92 "Python 3 green does not load test modules"
While Python 2 loads specific test modules in [Pywikibot](https://github.com/wikimedia/pywikibot-core/tree/master/tests) quite well (see #90 ), the same command line syntax fails in Python 3

[code]

I quickly tested the pep8 test suite, and it worked well, so green is having a problem with something in the Pywikibot test suite.

[code]

[2015-10-13 08:44] jayvdb commented on #92
This was a problem on my side; sorry for the noise.

[2015-10-13 08:44] #92 closed

[2015-10-13 08:59] jayvdb opened #93 "Class name detection fails for metaclass"
green reports an error when running a test case which uses a metaclasses, and also reports the wrong name for the test class. (see `__doc__` and `green.result` appearing below)

[code]

The top level entry `  __doc__` in the above is a metaclassed test class, and it is failing to get the class name/docstring correct, but otherwise works OK:
https://github.com/wikimedia/pywikibot-core/blob/master/t

[2015-10-13 09:09] jayvdb commented on #90
The following is a workaround
[code]

[2015-10-13 09:16] jayvdb commented on #87
Note that `green` is running the function `collector` and `load_tests` as test modules.

[2015-10-13 09:41] jayvdb opened #94 "Add output mode to show test method name in addition to docstring"
unittest shows test method name and docstring.
nose only shows the docstring, if it exists, or the method name if it doesnt have a docstring.

https://github.com/wikimedia/pywikibot-core is searching for an advanced test runner like nose (and I am very impressed with `green` so far), but we'd like the output to include the test method names, so that it is easy to rerun an individual test method us

[2015-10-13 14:55] CleanCut commented on #91
You need to specify the module that actually handles command-line processing:

    $ python3 -m green.cmdline ...

[2015-10-13 14:55] #91 closed

[2015-10-13 15:08] CleanCut commented on #90
As part of the [Traditional feature](https://github.com/CleanCut/green#features), we lean on python's built-in unit test discovery.  By default this means you are required to name your test module with the pattern `test*.py` for it to be discovered under a directory, [as explained in the tutorial](https://github.com/CleanCut/green#unit-test-structure-tutorial) (see note 4 under External Structure)

[2015-10-13 15:08] #90 closed

[2015-10-13 16:35] CleanCut commented on #93
I have never encountered metaclasses before today.  It was fun to read up on them!

[This section of the Python docs](https://docs.python.org/2/library/unittest.html#basic-example) define how to create a testcase:

    A testcase is created by subclassing unittest.TestCase. The three individual tests are
    defined with methods whose names start with the letters test. This naming convention
    i

[2015-10-13 16:39] CleanCut commented on #94
I absolutely agree.  It's part of #30.

[2015-10-13 16:39] #94 closed

[2015-10-13 16:51] CleanCut commented on #87
@jayvdb I cannot tell what what you are trying to say.  `load_tests` is the function a user would define under the load_tests protocal (which is understandable so far).  But I don't know what you mean by `collector` and I'm not sure what "running a function as a module" would mean, given that  [a module is a file containing Python definitions and statements.](https://docs.python.org/2/tutorial/mod

[2015-10-13 17:22] xZise commented on #93
You misunderstood our structure. We provide a [`TestCase` class](https://github.com/wikimedia/pywikibot-core/blob/master/tests/aspects.py#L885) which subclasses `unittest.TestCase` via [`TestCaseBase`](https://github.com/wikimedia/pywikibot-core/blob/master/tests/aspects.py#L65). And additionally it's using the [`MetaTestCaseClass` metaclass](https://github.com/wikimedia/pywikibot-core/blob/master

[2015-10-13 21:53] CleanCut commented on #93
@xZise Yep, I didn't read that quite right.  Your metaclass is not subclassing `unittest.TestCase`.  My bad.  We'll have to figure out what the actual problem is here.

[2015-10-13 22:09] jayvdb commented on #93
My limited analysis is that the underlying bug is in the "output name creation" process.  The error is fixed when I change the names of the test methods, and even changing the order of the names helps.

[2015-10-13 22:40] jayvdb commented on #87
Sorry.  `green` is running the function `load_tests` if it exists.  Here is a cut down example.

Create this file called `test.py`

[code]

[code]

[2015-10-13 22:47] jayvdb commented on #87
Interesting... if `load_tests` returns `None`, `TestFoo` is not run.

[code]

[code]

[2015-10-14 04:12] jayvdb commented on #91
It would be good to include documentation of this. Thanks.

[2015-10-14 07:27] krisztianfekete commented on #91
@jayvdb I run some stuff like this myself, though not green I am curious what is your use case.

[2015-10-14 07:55] jayvdb commented on #91
Currently I am testing using green on various versions of Python 2 & 3 to determine what blockers exist for adopting it.
I could set up virtualenv's (and for automated testing we'll be using tox.), but for quick use it is easier to call a specific version of `/usr/bin/pythonX.Y -m green...`.

[2015-10-14 08:41] krisztianfekete commented on #93
As an interested outsider I find it hard to understand this issue, even though I am using green with [metaclassed](https://github.com/krisztianfekete/arglinker) `TestCase`s (and had no problems so far).  It would be helpful to understand what does the metaclass do or does not do that causes the problem.

@jayvdb / @xZise could you provide a reduced example (one stand-alone test file) that still re

[2015-10-14 12:58] xZise commented on #93
@krisztianfekete have you used subclasses as well?

[2015-10-14 13:34] xZise commented on #93
Okay as you suggested I have tried to reduce the example drastically in https://gist.github.com/xZise/4f9e70910b020e2664ac

You just need to install green and download those 4 files and execute:

* `green -vvv tools_tests`
* `python -m unittest -v tools_tests`

The latter will work while the former will not work on Python 2.7. On Python 3.5 it does actually work.

[2015-10-14 17:13] CleanCut commented on #91
@jayvdb Just in case you find it useful, you should be aware that green always install three binaries:

    green
    greenX
    greenX.Y

When green is installed in multiple system python versions, `green` gets overwritten (last one installed wins).

When green is installed in multiple system python versions of the same major version X, then `greenX` gets overwritten.

If you install green in mul

[2015-10-15 00:25] jayvdb commented on #91
Ya, but IMO these X and X.Y suffixes for tools are only good for simple usage, and becomes a problem with complex situations.
See https://github.com/pypa/pip/issues/3164

Invoking a specific binary is much safer and easier to keep as a consistent pattern that always works (except for Python 2.6, but hopefully we all need to use that less as time goes on.)

[2015-10-15 08:22] krisztianfekete commented on #93
@xZise Thanks for trimming down the problem, I can reproduce now.

@CleanCut I think it is related to the protocol on the queues between the runner and processes, but do not understand what's going on.  I have tried to instrument [`green/process.py` by putting `ddebug()` calls before `queue.put` calls](https://github.com/krisztianfekete/green/commit/7e91396a763530899d59887ae1c264b5144db325) and he

[2015-10-15 23:05] MinchinWeb opened #96 "Green reports no tests, but runs them??"
I'm trying to use Green on Travis-CI and Coveralls.io.

I can run the tests localling without issue. I'm running Windows 10 x64, Python 3.5.0, Green 2.0.7, Coverage 4.0.1. I use the command `green -vvr` from the projects root directory. The (local) output:
[code]

However, when I push the code to Github (with the test directory as a sibling to the main code directory), Travis-CI picks it up and ru

[2015-10-16 18:24] CleanCut commented on #96
That is very strange behavior.  I don't have any ideas off the top of my head.  I'll see if I can look into it this afternoon or Monday.  Let me know if you make any progress with it before then.

[2015-10-19 17:55] CleanCut commented on #91
Included in [2.1.0](https://medium.com/@nathanstocks/green-2-1-0-features-fixes-windows-problems-fd6f0a926558)

[2015-10-23 03:49] MinchinWeb opened #98 "'Failed to create process'"
Using Python 3.5.0 x64 on Windows 10 with Green 2.1.2.

Try to run any `green` command, and it fails and displays the message `Failed to create process`.

The issue is present on Green 2.1.1 and 2.1.0, but not Green 2.0.7 (which works fine).

[2015-10-23 04:15] CleanCut commented on #98
(Sigh) I don't even have access to Windows 10. :-(

[2015-10-23 05:17] MinchinWeb commented on #98
Well, maybe I can help more. I can confirm that this isn't an issue with Python 3.4.3. I can also confirm that if I clone the repo and run `python setup.py install`, `green` installs and runs fine on Python 3.5. This would point to the `.tar.gz` file on PyPI; something in the packaging or distribution. Is it time to move to wheels? If you can upload one here, I can try installing it to see if that

[2015-10-23 22:05] CleanCut commented on #98
There are other failing tests on Python 3.5.  Maybe if I fix those on posix, Windows may benefit as well.  I really dislike the way green communicates with its subprocesses, but I haven't yet found a better way that works across all versions and platforms without pulling in an external library.

[2015-10-26 15:20] CleanCut opened #99 "Test Failures on Python 3.5"
Now that Python 3.5 is stable, we need our tests to pass on it.

[2015-10-26 16:21] #99 closed

[2015-10-26 19:14] #84 closed

[2015-10-26 21:41] CleanCut commented on #99
[Fixed in 2.2.0](https://medium.com/@nathanstocks/green-2-2-0-python-3-5-support-b4b1e2c98e86#.tpa3bp8fj)

[2015-10-26 21:41] CleanCut commented on #84
[Fixed in 2.2.0](https://medium.com/@nathanstocks/green-2-2-0-python-3-5-support-b4b1e2c98e86#.tpa3bp8fj)

[2015-10-26 21:42] CleanCut commented on #96
@MinchinWeb I just released [Green 2.2.0](https://medium.com/@nathanstocks/green-2-2-0-python-3-5-support-b4b1e2c98e86#.tpa3bp8fj), which has a Python 3.5 fix in it.  Could you check real quick to see if it happens to also fix this issue?

[2015-10-26 22:16] MinchinWeb commented on #96
@CleanCut Yes and no. Green has stopped 'blowing up' if there's no coverage data (yeah!), but it still doesn't seem to find my tests on Travis-CI.

Here's the link to the Travis build -> https://travis-ci.org/MinchinWeb/verdant-barnacle/jobs/87557302
There should be 5 tests found, and one of them should fail. This works as expected on my end on my local (Windows) machine.

Note this isn't just a P

[2015-10-27 07:16] krisztianfekete commented on #96
The test file has a mixed case name and has underscore as well: `Test_Setup.py`.
This naming looks strange to me - might it contribute to the unexpected behavior?

[2015-10-27 18:20] MinchinWeb commented on #96
@krisztianfekete I stripped out all the underscores and made everything lowercase, but it doesn't seem to change anything.

Here's the link to the Travis build -> https://travis-ci.org/MinchinWeb/verdant-barnacle/jobs/87730614

[2015-10-27 19:50] krisztianfekete commented on #96
Only the file name was problematic (`Test_Setup.py` -> `test_setup.py`), internal (python code) renames were unnecessary.

The travis build log is no surprise this time, as you were [running green against module/package `tests`](https://travis-ci.org/MinchinWeb/verdant-barnacle/jobs/87730614#L144) in a directory where you have only [`README.md` and `verdantbarnacle`](https://travis-ci.org/MinchinW

[2015-10-27 19:58] CleanCut commented on #96
Good call, @krisztianfekete -- these types of Windows-specific issues are difficult for me.  I had the good fortune to stop being a Windows user in 2003.

Does that mean we can close this issue?  Filename case mismatches are beyond the scope of green.

[2015-10-27 20:35] MinchinWeb commented on #96
Thanks @krisztianfekete, fixing `.travis.yml` as well as the lowercase names seems to have fixed it. I feel comfortable saying that was starting the filenames capitalized that was causing this issue.

@CleanCut: is the test discovery code local to `green`, or pulled in from `unittest`? If it's a simple fix, it might have sense to make that part of the code case-insensitive. For Windows users, this

[2015-10-28 01:58] CleanCut commented on #96
Most of discovery is done by running the discovery in your own python's unittest.

[2015-10-28 01:58] #96 closed

[2015-10-28 06:00] krisztianfekete commented on #96
@MinchinWeb you're welcome!

Windows is known to be problematic in Python (e.g. most of packaging are about windows and binaries).

Python is a case sensitive language, your directory/file names become package/module names, this is how it works [PEP-0235, look at `Proposed Semantics`, case `B`](https://www.python.org/dev/peps/pep-0235/):
[code]

Moreover, the consensus [coding style](https://www.p

[2015-11-03 15:44] CleanCut opened #100 "Publicity - NEEDS YOUR HELP!"
Green should be listed next to py.test in public lists of python test frameworks!

If people have a hard time finding out about green, they won't use green!  Life will be so much slower and less colorful for them.  Don't let that happen!

LET ME KNOW about other places that ought to link to green:

- [x] https://github.com/vinta/awesome-python/pull/335
- [ ] Move the origin story from the README t

[2015-11-03 17:10] Ogaday commented on #100
I only came across green recently, and I can't remember how, unfortunately. Turn the origin section of your readme into an article (it wouldn't take much work because it's well written), post it on your blog, on medium, then link it on reddit (/r/python), twitter and other social network platforms. I think content is received better in that form than a simple advertisement.

[2015-11-03 17:22] Ogaday opened #101 "Test generators a la nose"
See here: https://nose.readthedocs.org/en/latest/writing_tests.html#test-generators

When using nose I found test generators incredibly useful for avoiding duplicate code. What would it take to implement that sort of functionality in green? I'd be happy to have a go at implementing it myself if someone could talk me through it.

[2015-11-03 17:28] Ogaday commented on #101
Is this actually solved by the support for nose-paramterized? That looks like the same sort of idea.

[2015-11-03 17:35] Ogaday commented on #100
I'm not sure you have enough lines of code, but you could enter [this comptetion](http://www.yegor256.com/2015/10/17/award-2016.html) for the publicity, money and free feedback. I found the blog posts pretty interesting as well, if a little vehement!

[2015-11-03 17:52] CleanCut commented on #100
@Ogaday That competition looks awesome.  Unfortunately, I'm not even halfway to the 10,000 lines of code minimum.

Thanks for the suggestion about medium and reddit.  That's what I've been doing for major/minor releases (not dot releases).  But going back and turning the origin story into a medium post is a good idea.  I wasn't on medium at the time I originally wrote that.

[2015-11-03 17:59] CleanCut commented on #101
Yes, that's what the [nose-parameterized](https://github.com/CleanCut/green#nose-parameterized) stuff is.  Hopefully that works for you.

[2015-11-03 18:29] Ogaday commented on #101
Ok, I'll have a play with it. This issue can be closed then?

[2015-11-03 19:50] CleanCut commented on #101
Yep.

[2015-11-03 19:50] #101 closed

[2015-11-03 23:56] CleanCut commented on #93
Found it!  This one was really tricky.

Short version: Your `for` loop messed up your later call to `super` in `MetaTestArgSpec.__new__()`

Long version:

Green assumed that you can't have two classes of the same name in the same module, since that's syntactically impossible in raw source code (the second definition would simply overwrite the first).  We were using this "fact" to ensure we didn't

[2015-11-03 23:56] #93 closed

[2015-11-04 00:08] CleanCut commented on #98
Did the new release fix anything, by chance?  I'm trying to put together a Windows 10 VM, but if it's already fixed I won't bother...

[2015-11-04 00:40] MinchinWeb commented on #98
`green` seems to be working for me now. I never figure out what was the root cause of the issue, so I'm not sure what changed. I guess we can close the issue, and I'll let you know if it starts acting up again. Thanks for taking the time to look into it.

[2015-11-04 00:40] #98 closed

[2015-11-04 01:10] CleanCut commented on #98
No problem.  I'm glad it's working for you now!

[2015-11-04 02:54] jayvdb commented on #93
Very big thank you!
Probably worth adding an assert somewhere in `green` to catch anyone doing something similar.

[2015-11-04 12:17] Ogaday commented on #100
@CleanCut Good job on the getting the pull request accepted. You should look to get on the [unittest documentation page](https://docs.python.org/3/library/unittest.html). Pytest and nose are there. Also linked are the testing page on the [python wiki](https://wiki.python.org/moin/PythonTestingToolsTaxonomy) and the [Testing in Python Mailing List](http://lists.idyll.org/listinfo/testing-in-python)

[2015-11-04 12:38] Ogaday commented on #100
@CleanCut Have you come across the Anaconda distribution and specifically the environment/package manager Conda? Not entirely sure what it entails, but distributing green via conda/binstar might make it more accessible to scientific users in particular.

[2015-11-04 18:10] CleanCut commented on #100
@Ogaday Thanks!  I added those all to the list.

[2015-11-06 10:33] jayvdb commented on #93
The bug was fixed on our side: https://gerrit.wikimedia.org/r/#/c/250940/ \o/

[2015-11-06 18:53] CleanCut commented on #93
Great!

[2015-11-10 15:13] Ogaday commented on #100
[Pytontesting.net](http://pythontesting.net/) who delivered a fantastic [article](http://pythontesting.net/strategy/why-most-unit-testing-is-waste/) would look like a good place to get coverage. Perhaps ask for a review, in the same way the author [has reviewed nose and pytest](http://pythontesting.net/podcast/pytest-vs-unittest-vs-nose-pt002/).

[2015-11-12 17:22] CleanCut commented on #100
I actually contacted the guy behind pythontesting.net last August.  Here's a snippet from his reply email where he declined to look at green :-(

    Those features might be awesome, but they aren't useful to me.
    I can't run tests concurrently against one system anyway.
    And I don't actually watch the test run, I parse the report and push it to a web site that graphs the results for each te

[2015-11-15 14:20] pior commented on #72
Same here with ipdb. It is indeed a deal breaker.
I've always used ipdb directly with nose.

[2015-11-16 14:05] fmariluis opened #102 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3 in position 35: ordinal not in range(128)"
Hi,

When parsing a docstring that includes a UTF-8 encoded character, Green fails with UnicodeDecodeError.

For example:

[code]

Works fine.

But:

[code]

Fails with:

[code]
A possible workaround is to decode ```test._testMethodDoc``` with 'utf8':

[code]
Now it works:

[code]

But I don't know if this solution is overall acceptable.

[2015-11-26 13:09] JayZar21 opened #103 "Multiprocessing error on Python 2.7 and Windows"
I tested green on Linux and I had no issue.
I used green for testing the same code base on Windows and I had issues with the multiprocessing module (forking):

[code]

It seems to be an issue of python which is not backported. However I use python 2.7.10 (the latest) and a workaround would be appreciated!

[2015-11-26 13:11] JayZar21 opened #104 "Adding Xunit/Junit Xml report"
It is a standard feature which is needed for Jenking and CI integration.
Please consider it.
Thanks.

[2015-11-27 21:46] nMustaki commented on #100
There's a podcast I like, [ talkpythontome] (http://talkpython.fm), the author may be happy to interview you ?

[2015-11-27 22:46] nMustaki opened #105 "Deadlock in very specific combination"
Hi,

first thanks for Green, I love its speed and colors !
I am trying to test a Flask application, but I get a deadlock if I use together :
- Green (of course)
- Flask-Testing (with subclass unittest and save Flask app context)
- Gevent (both stable and beta)
- pkgutil.walk_packages (to load blueprints automatically)

Everything works fine if I do any of the following :
- switch to nose/pytest/un

[2015-11-29 20:39] jayvdb opened #106 "Limited Python 2.6 support using unittest2"
With a little hacking, I've got the tests mostly passing on Python 2.6 with unittest2

https://github.com/jayvdb/green/commits/py26

https://travis-ci.org/jayvdb/green/builds/93819881

If there is a chance it could be merged, I would be happy to clean it up so that there is no chance of impact on Python 2.7+ , and all tests pass or are skipped.

I appreciate "supporting" Python 2.6 may not be desi

[2015-12-06 16:38] rudyryk opened #109 "Run 1 process by default?"
I've just faced a really weird issue.

I got a basic test suite within web project with database. I'm testing creating, inserting, deleting database objects. **From time to time** I got "unique constraint" error. That was **really** strange and I spent a couple hours to find out what's happening.

As I understand that was because of multiple processes running and trying to insert objects from diff

[2015-12-23 14:21] omnidan opened #110 "Does not run on debian"
After installing `green` with `sudo pip3 install green` and running `green`, I get:

[code]

[2015-12-23 14:23] omnidan commented on #110
Installing it via `sudo easy_install green` fixed the issue.

[2015-12-23 14:23] #110 closed

[2015-12-23 17:26] CleanCut commented on #110
Weird.  Why would an import from `colorama` fail based on which package manager installed it?  ((shrugs and shakes head sadly))

[2015-12-23 20:24] jayvdb commented on #110
Wrong version of colorama?

[2015-12-23 20:57] CleanCut commented on #110
That could cause the import fail, but `sudo easy_install green` shouldn't alter the version of colorama from what pip had already installed.

Perhaps his `easy_install` was from a different version of python, and his 3.4 had a very old or very new version of colarama?  That could do it.

[2015-12-24 12:16] omnidan commented on #110
I think colorama might've been installed by `easy_install` and then I installed `green` with `pip`. It definitely sounds like a version mismatch.

[2016-01-04 20:56] dougthor42 opened #111 "Support unittest.subTest context manager (Python 3.4+)"
## Summary

Python 3.4 added the unittest.subTest() context manager. It would be wonderful if Green elevated the information from subTest() up to the top level.

I think it's best displayed with an example.
## Example
### Code (taken directly from the [subTest() docs](https://docs.python.org/3/library/unittest.html#distinguishing-test-iterations-using-subtests)):

[code]
### Green's output:

![ima

[2016-01-05 19:19] CleanCut commented on #111
This would be a great feature!  Thanks for bringing it up.  I had no idea such a thing existed.  If you have an implementation, I'd be happy to review or help with it.

If not, I'll take a stab at implementing this the next time I'm going through a feature-implementation cycle.

[2016-01-09 21:37] svetlyak40wt commented on #105
Trying to test app with gevent, I have similar problem but with such traceback:

[code]

[2016-01-09 21:46] svetlyak40wt commented on #105
BTW, I found this thread on stackoverflow: http://stackoverflow.com/questions/8678307/gevent-monkeypatching-breaking-multiprocessing it is about how badly multiprocessing plays with gevent. There is also an [interesing answer](http://stackoverflow.com/a/20947384) from ddotsenko who wrote a plugin for nose to run tests in subprocesses but without multiprocessing and issues with gevent.

[2016-01-13 21:34] dougthor42 opened #112 "Intermittent AttributeError regarding "ProtoTest""
## Summary
I'm getting an error every once in a while when running ``green PyBank -vvv`` on my [PyBank](https://github.com/dougthor42/PyBank) program.

The odd thing is that I'll run it once, get the error, and then run it again with no issue.

I'm trying to come up with a way to reproduce it, but I haven't found a reliable method yet.

In addition, sometimes the test runner hangs. When it does, i

[2016-01-14 05:29] CleanCut commented on #112
Can you reproduce it when you run with just one process?  (`--processes 1`)

[2016-01-14 17:19] dougthor42 commented on #112
It looks like it doesn't happen with ``--processes 1`` but I still haven't been able to reliably reproduce it, so it's hard to say if the issue does indeed get fixed.

It makes sense that running with multiple processes could be the issue. The tests that cause issues both act on external resources (file or SQLite database) which are created and deleted in the ``setUpClass`` and ``tearDownClass`` m

[2016-01-14 17:52] CleanCut commented on #112
Okay, so race condition bugs are typical when multiple process share resources.  If I were you, I'd look into the `--initializer` and `--finalizer` options to make it so that each test worker process sets up and tears down its own SQLite database.  Those options are there specifically to address this type of problem.

Or you could just stick to one worker process, and just have the tests run slowe

[2016-01-14 19:17] dougthor42 commented on #112
I'll look into those options more, but at first glance I'm not sure that they'll be ideal for my usage case - I actually don't want the SQLite database to exist for the entirety of testing.

I don't mind running with a single worker so I'll just stick with that.

Thanks for your help. I'll close this and just open a new issue if I continue to have problems.

[2016-01-14 19:17] #112 closed

[2016-01-14 23:39] CleanCut commented on #112
You're welcome.  I hope it's smooth sailing for you from here on out! :-)

[2016-01-26 18:54] marshallds opened #113 "psycopg2 closed the connection unexpectedly (Django1.9/python3.5)"
Works great as long as I only run a single file.  When I split my tests.py into tests/test_*.py and run the suite I get the following on the first test:
[code]

After that the rest of the tests fail due to the database connection being in a bad state.  If I use the default django test runner it works fine.

Let me know if I can provide more detail.  Thanks!

[2016-01-27 03:54] CleanCut commented on #113
What happens if you add a `.green` config file to your home directory with `processes=1` in it?

[2016-02-13 07:20] CleanCut commented on #113
Apparently there are no more problems with this at the moment.  Feel free to reopen this issue if you need to.

[2016-02-13 07:20] #113 closed

[2016-02-13 07:28] CleanCut commented on #109
(Sorry for the long delay -- I've been in crunch time for months)

One of the main reasons for green to exist is to be a fast test runner.  Running in multiple processes is part of that.  If that means some people are turned off and don't want to use it because their existing tests can't be safely run concurrently, I'm okay with that.

If you personally want to use green and have it default to 1 p

[2016-02-13 07:28] #109 closed

[2016-02-20 03:42] MinchinWeb opened #116 "Per project configuration?"
Does `green` currently support per project configuration files? If not, would it be as simple as adding the current directory to where `green` searches for configuration files?

[2016-02-20 05:12] CleanCut commented on #116
No, we don't.

Essentially yes, it should be _almost_ that easy.  We'll also have to update the docs and write some tests too.

[2016-02-22 23:10] MinchinWeb commented on #116
if you're considering more configuration options, would storing settings in files such as `setup.cfg` or `.editorconfig`, which might already exist, be good options to consider too?

[2016-02-22 23:32] CleanCut commented on #116
I'm not opposed to it.  But I don't use those files, so it'd need someone who does to do the work.  Should be slightly more work since you'll need to deal with a special `[green]` config section or something like that I imagine.

[2016-02-24 02:33] guoliang-dev commented on #103
If you're using python < 2.7.11, it might caused by this bug:
https://bugs.python.org/issue10128

This is how did i run nosetests for mutliprocessing with python < 2.7.11, you may try to crate one for green.
`from nose import main
if __name__ == '__main__':
    main()`

[2016-02-26 18:06] dougthor42 opened #117 "Support GitLab-CI"
Looks like the [GitLab-CI](https://about.gitlab.com/gitlab-ci/) is having the same issues that [Appveyor had with colors](http://help.appveyor.com/discussions/suggestions/197-support-ansi-color-codes).

If `green` is run within the gitlab-runner instance, then it should turn **off** Colorama so that colors are enabled.

I have no idea how you'd check for that, though... When the runner is installe

[2016-02-26 18:52] dougthor42 commented on #117
Just FYI:
I'm working on a PR to add a "--nowindows" CLI option that will prevent Colorama from doing it's thing. This will allow people to get green working on GitLab just by passing an extra arg.

[2016-02-26 20:25] CleanCut commented on #117
Sounds great!  Put it in the "Format Options" group next to --notermcolor

On Fri, Feb 26, 2016 at 11:52 AM Douglas Thor <notifications@github.com>
wrote:

[2016-02-26 22:01] dougthor42 commented on #117
All done. Was a little touch-and-go with the unit tests for a second, but I think everything's good to go now.

[2016-03-02 19:34] dougthor42 commented on #117
For others who may find this:

After #118 has been merged and @CleanCut releases the next version of `green`, you'll need to use the `-t` and `-W` flags to get colors working if your `gitlab-runner` is on Windows:

[code]

Additional information at [gitlab-ci-multi-runner Issue #332](https://gitlab.com/gitlab-org/gitlab-ci-multi-runner/issues/332) and [MR #102](https://gitlab.com/gitlab-org/gitlab

[2016-03-15 17:58] aperezdc commented on #88
@CleanCut @SamuraiT: It is possible to run doctests with `unittest`, by wrapping the doctests into a `DocTestSuite` or a `DocFileSuite` like in [this example](https://github.com/aperezdc/lasso-python/blob/master/test.py#L735). AFAIK these classes provided by the `doctest` module have the same API as the `unittest.TestSuite` class, and that's how `unittest` is able to run them. Also, note how the l

[2016-04-09 04:21] MinchinWeb opened #119 "Error messages on Windows breaks on Unicode"
Windows has various issues around Unicode. The particular issue I'm running into with `green` is a test will fail due to a unicode issue (often the program under test will attempt to print something unicode to CMD), but when `green` tries to print the resulting error message, it breaks as the error message contains the unicode character in question. Thus, I only learn of the first test that failed

[2016-04-11 04:58] CleanCut commented on #119
Fine with me. Did you want to submit a pull request? If not, it would be
helpful if you could send me one of the crash cases.
On Fri, Apr 8, 2016 at 10:21 PM MinchinWeb <notifications@github.com> wrote:

[2016-04-12 22:58] MinchinWeb commented on #119
Ok, I think I put together working code. I'm not sure how to add a test though... Here's what I'm using as a manual testcase on my end:

[code]

And the output (with `green` working):

![image](https://cloud.githubusercontent.com/assets/1548809/14477844/e0203f6e-00cd-11e6-9c0f-2c6fec883e3d.png)

Suggestions?

[2016-05-06 13:25] LeoHuckvale opened #121 "green does not report broken setUpClass"
Say I have a simple test module like:

[code]

When I run this under the ``unittest`` module, I get:

[code]

When I run it under green (2.4.0):

[code]

Green reports that it ran 0 tests, consistent with ``unittest``, but I have no way of knowing that my test suite is broken (unless I have logging configured under ``setUpClass``).

With verbosity and debug logs on, I can see that green has succes

[2016-05-17 21:28] dougthor42 opened #122 "ModuleImportFailure possibly caused by a path having a space character in it."
# Summary:
There appears to be an issue where `AttributeError: 'ModuleImportFailure' object has no attribute <truncated path>` is raised if a path as a space character in it.

**Removing the space from `path` seems to fix the issue**, but it might be something that should be looked into for future releases.

This issue is only see when ruing GitLab's Multi-Runner in a self-hosted environment - I c

[2016-05-19 20:31] CleanCut commented on #122
Looks like you have a pretty good grasp of the problem.  Did you find a way to reproduce it outside of GitLab's environment?

[2016-05-19 21:33] #121 closed

[2016-05-20 09:02] LeoHuckvale commented on #121
Awesome, thanks!

[2016-05-20 20:58] dougthor42 commented on #122
Sadly no, I was unable to reproduce it outside of GitLab.

I wouldn't worry too much about it. It seems that the workaround of not using spaces in the path works very well - I haven't had any issues since.

[2016-05-21 15:46] CleanCut commented on #122
Okay, since you can't reproduce it independently AND have a workaround, I'm going to mark it as closed.  If any of that changes, feel free to reopen the issue.

[2016-05-21 15:46] #122 closed

[2016-05-21 15:48] CleanCut commented on #103
@JayZar21 Sorry about the huge delay.  Are you still affected by this issue?  If so, will you please provide some code that causes the issue?

[2016-05-21 16:14] CleanCut commented on #102
I looked into this.  I couldn't find a fix for green that wouldn't break something under some other condition or in some other version of Python.

BUT I did find a good workaround for you: Start your docstring with `u"""` -- that causes the docstring to be correctly parsed in all versions of Python.

[code]

[2016-05-21 16:14] #102 closed

[2016-05-21 16:18] CleanCut commented on #106
Sorry for the huge delay.

I looked into it, and I found that I am simply not willing to let the Python 2.6 support changes into the tree.

However, I would be perfectly happy to update the ReadMe to link to an official "green26" fork or something like that if you wanted to maintain such a thing.

[2016-05-21 16:18] #106 closed

[2016-05-21 16:26] jayvdb commented on #106
Thanks for thinking about it, but also for giving the green light for a green26 fork. ;-)
Im not sure I'm super motivated to do it, as we've pretty much gone ahead with py.test since it has py26 support, and we have it doing most of what we need now.

[2016-05-21 16:29] jayvdb commented on #102
The 'correct'/other solution is to use `from __future__ import unicode_literals`

[2016-05-21 16:36] CleanCut commented on #105
Sorry for the huge delay.

I'm really not interested in diving into crazy world of multprocessing vs. gevent.

If anyone has fixes they want to propose, I'm happy to help make sure they don't break any existing functionality and get them released, but short of that my answer is going to be: green doesn't play nice with gevent.

[2016-05-21 16:36] #105 closed

[2016-05-21 16:38] CleanCut commented on #106
I don't blame you.  I know just exactly how massive an effort it is to get something like green working (and maintained) on a new version of python.

[2016-05-21 16:39] CleanCut commented on #102
@jayvdb That's a much nicer workaround.  Thanks!

[2016-05-21 20:21] nMustaki commented on #105
Hi,

I understand your point of view, but can you at least add a disclaimer in the readme about this fact so fewer people loose time on this ?
Thanks !

[2016-05-21 21:00] CleanCut commented on #105
Absolutely.  That's a great idea.

[2016-05-24 22:37] dougthor42 commented on #117
By the way, this was fixed with PR #118. Sorry for forgetting to mark it!

[2016-05-24 22:37] #117 closed

[2016-05-24 22:46] dougthor42 opened #123 "Return a fail if no tests are found."
# Summary:
Currently (v2.4.1) `green` creates an empty test suite if no tests are found and then runs that empty suite, returning passing code. This can cause false-positives for CI and should be changed.

## Example:
[code]

As you can see, this technically failed because the package/module name was incorrect (it should have been `emap_convert` - note the underscore). However, Green reported a pa

[2016-05-24 22:49] CleanCut commented on #117
No worries, thanks!

[2016-05-24 22:51] CleanCut commented on #123
Hmm, failing for no tests found sounds like reasonable behavior.

[2016-05-26 22:01] #119 closed

[2016-05-26 22:34] CleanCut commented on #103
If this still affects you and you can provide some way for us to duplicate the problem, please reopen this issue.

[2016-05-26 22:34] #103 closed

[2016-05-26 22:35] CleanCut commented on #100
My publicity ambitions have been sufficiently satisfied.

[2016-05-26 22:35] #100 closed

[2016-05-26 22:36] #30 closed

[2016-05-26 22:37] CleanCut commented on #44
This was done some time ago.

[2016-05-26 22:37] #44 closed

[2016-05-26 22:38] CleanCut commented on #45
I'm not interested in implementing this myself.  If someone else wants to, I would be happy to review the pull request.

[2016-05-26 22:40] CleanCut commented on #89
Nah.

[2016-05-26 22:40] #89 closed

[2016-05-26 22:42] CleanCut commented on #104
This might be a duplicate of #34

I hope to do some feature to enable integration with Jenkins.

[2016-05-27 06:09] JayZar21 commented on #103
Sorry, I'm late. I have just tested: this issue seems to be solved.
I have other problems with unicode... but this is another story and I have to verify my issues!!
Thank you!

[2016-05-27 15:30] CleanCut commented on #103
Okay.  Make sure to test the latest version -- we had some windows unicode fixes in the last release.

[2016-05-31 20:58] #123 closed

[2016-05-31 21:44] CleanCut commented on #123
Included in 2.5.0, just released.

[2016-06-29 04:32] mairsbw opened #127 "After installing green on Windows from pip it fails to run"
I installed `green` using pip with administrator permissions on my Windows 10 x64 machine where Python3.5 is install into Program Files. After installing if I run `green green.examples` I see only `failed to create process` and the program returns. But if I run it like `python -m green green.examples`, then it works correctly. It looks like that program is an executable, so it shouldn't be a Pytho

[2016-06-29 04:50] mairsbw opened #128 "Add version information to module"
It's helpful when checking dependencies programmatically or for a developer to be able to retrieve version information from the modules `__version__` attribute (see [PEP396](https://www.python.org/dev/peps/pep-0396/)).

Our use case is a `check_dependencies.py` script that the developer can run to verify they have all necessary packages installed and that they're the correct version.

[2016-06-29 06:54] mairsbw opened #129 "Running a specific test with a syntax error results in 'No Tests Found'"
I modified a test and introduced a syntax error. I then called the test using a class-specific path like `python -m green my_program.test.test_1 -vv`, where the output was:
[code]

But then if I change how I run it like `python -m green my_program` then I see the Traceback with the SyntaxError:
[code]

[2016-06-30 18:06] CleanCut commented on #128
Excellent idea.  Especially since I already did the hard work setting `green.version.__version__`, so it's only a one-line fix.

[2016-06-30 18:07] #128 closed

[2016-06-30 18:14] CleanCut commented on #127
I don't use Windows!  So...no, I really have no idea.

@MinchinWeb @jayvdb Do you guys have any ideas on this?

[2016-06-30 19:12] CleanCut commented on #129
One of the fixes in 2.5.1 may have covered this situation.  Please try 2.5.1 out and report what you find.

[2016-06-30 19:12] CleanCut commented on #128
Included in 2.5.1 (just released).

[2016-06-30 20:55] mairsbw commented on #129
Indeed, looks to be fixed as of 2.5.1. Thanks!

[2016-06-30 20:55] #129 closed

[2016-06-30 21:12] CleanCut commented on #129
Awesome!

[2016-06-30 21:12] CleanCut commented on #129
@skeggse Thanks again for the fix!

[2016-06-30 23:22] MinchinWeb commented on #127
I can confirm the issue. I tried running `green --version` on a fresh system going back to `green` 1.8 and the issue ('failed to create process`) came up each time. My guess is there is some dependency that is not being installed...

[2016-06-30 23:31] MinchinWeb commented on #127
I suspect it may be this issue with using pip to install --> https://github.com/pypa/pip/issues/2783

The issue is that the green launcher is being install into a directory with a space in the path. To workaround, I would suggest you download the code, and then install manually using `python setup.py install`. Let me know if that works.

[2016-07-01 06:24] jayvdb commented on #127
Maybe this is the underlying problem, and is now fixed?

https://github.com/pypa/setuptools/issues/398#issuecomment-225444249

[2016-07-15 14:06] zeitos opened #130 "Such is not supported?"
Hi,
   I'm running the example from
[such](http://nose2.readthedocs.io/en/latest/such_dsl.html) and it seems like it's not working with green:

![image](https://cloud.githubusercontent.com/assets/1010275/16876855/100fc08a-4a7c-11e6-9503-13e5d38bacfc.png)

[2016-07-18 16:12] CleanCut commented on #130
Correct.  "such" is not supported by green.

[2016-07-18 16:12] #130 closed

[2016-07-18 16:14] CleanCut commented on #127
Unless someone knows otherwise, I will consider this as a bug in setuptools on Windows that has been fixed in some recent setuptools release.

[2016-07-18 16:14] #127 closed

[2016-07-20 02:26] jayvdb commented on #127
@mairsbw , @MinchinWeb , can you check whether you have installed python in a directory with spaces in the name?
I will have access to a decent Windows maxhine tomorrow.

But we should be able to reproduce this on Appveyor.

[2016-07-20 02:37] MinchinWeb commented on #127
@jayvdb The default installation directory for Python 3.5 on Windows is now the *Program Files* directory, so my Python 3.5 is installed to `C:\Program Files\Python 3.5\python.EXE`.

My *green* wasn't working, so I uninstalled it with *pip* and then reinstalled it (just now), and *green* seems to be working now. So hopefully this is now fixed in *setuptools*, and remains that waypip . I'm currentl

[2016-07-28 14:02] jayvdb commented on #127
This is probably the same problem as https://github.com/CleanCut/green/issues/98

[2016-07-29 05:38] mairsbw commented on #111
I'm interested in this. I've written substantial tests and since our codebase is all Python3.5+, I took advantage of this feature before I realized that Green didn't support it very well.

Anything I can do to move this issue along? I might be able to spare some cycles to help write some LoC to get this implemented, but it'd be helpful if someone could point me somewhere in the codebase to start,

[2016-07-29 05:51] CleanCut commented on #111
@mairsbw

Since we call into unittest's code whenever we can already, it may be that we get lucky and only have to alter our output function to check for new information.  That would be in `green/result.py` near the bottom in the `GreenTestResult` class in the `printErrors(...)` method.  You may have to check Python 3.4+'s `unittest` module source code to see what information it's getting from whe

[2016-07-30 01:12] MinchinWeb commented on #127
@jayvdb The way I described it, this may well be the same as 98. Good catch.

[2016-08-03 11:30] lsh-0 opened #131 "Feature: Don't output coverage results after generating coverage results."
It doesn't look like the coverage support in green picks up coverage's `.coveragerc` file for configuration.

If all of coverage's options were supported on the command line, or if green didn't print the coverage report afterwards this wouldn't be an issue.

[2016-08-03 18:02] CleanCut commented on #131
Green doesn't print the coverage report afterwards unless you ask it to.  You have to specify `-r` or `--run-coverage`

What do you see happening in your environment?

[2016-08-03 18:32] lsh-0 commented on #131
When I run green without `--run-coverage`, the `.coverage` results file is *not* created.

When I run green *with* `--run-coverage`, the `.coverage` results file *is* created, but the report is also printed. The report doesn't appear to obey the configuration in the `.coveragerc` file.

[2016-08-03 18:42] lsh-0 commented on #131
`Python 2.7.12`, `green==2.5.0` and `coverage==4.1` if it helps.

[2016-08-03 19:16] CleanCut commented on #131
Okay, I see what you are saying.  I think there is simply some confusion regarding the

The `--run-coverage` option for green causes it to enable coverage on tests that it runs _and then green prints it the results_.  So that's actually part of the feature in green, which is why coverage isn't affected by it -- green is calling the coverage output itself.  The rest of coverage's behaviour should b

[2016-08-05 18:14] mairsbw opened #132 "Can't run specific file containing tests"
I have a project with a `test` folder containing various test files that look like `test_XXX.py`. From the root directory of this project, running the entire `test` folder works fine:

[code]

But if I try to just specify a subfile using the . pathing syntax:

[code]

And if I try to work around this by running the file directly:
[code]

So I'm uncertain what the right solution here is. Note that

[2016-08-05 18:18] CleanCut commented on #132
Is your code open source?  If so, where is it?  If not, can you provide a minimal example that I could reproduce locally?

[2016-08-05 18:22] mairsbw commented on #132
It's not open source. Let me whip up an example today so you can reproduce.

[2016-08-05 18:26] mairsbw commented on #132
It doesn't get much more minimal than this.

Reproduce by running in the base folder the commands:

[code]

[green_test.zip](https://github.com/CleanCut/green/files/404372/green_test.zip)

[2016-08-05 18:40] CleanCut commented on #132
Oh, silly me.  I should have caught that from your initial description.  You're just missing an `__init__.py` in your test folder.  See the [readme section here](https://github.com/CleanCut/green#external-structure) for a discussion on that very thing.

[2016-08-05 18:40] #132 closed

[2016-08-05 18:44] mairsbw commented on #132
Yeah, I was wondering if it was a misconfiguration on my part. Thanks for your help.

[2016-08-05 18:47] mairsbw commented on #132
Although now I have the problem where the __name__ has changed for my test modules, so they can't find a relative path where some test files are kept (like `os.path.join(__name__, 'images')`). Looks like instead of being named `test_camera` my `test_camera.py` script receives a name of `test.test_camera`. So this is wrong for the path. I could hardcode these, but I liked using the __name__ variabl

[2016-08-05 20:12] CleanCut commented on #132
I'm afraid if you want to use green to run specific tests, the specific test modules need to be in a package.  When modules are in a package, their name is going to reflect that.

In your particular example, you could adjust for it pretty simply:

    os.path.join(__name__.split('.')[-1], 'images')

[2016-08-05 21:02] mairsbw commented on #132
Got it, that makes sense. Thanks.

[2016-08-12 05:51] mairsbw commented on #111
Alright, so I've started looking into this a bit. I just kinda dove right in, so I don't really know the right approach here, but this is what I've found.

There's a new `addSubTest()` method on the `unittest.TestCase` object. I figured this would be called because in the docs it says:

I'm running the test that @dougthor42 suggested (along with two of my own) through this library, but I never see

[2016-08-12 19:40] CleanCut commented on #111
@mairsbw

You need to read the `unittest` module source code and find what will cause it to start calling `addSubTest()`, and then make sure that whatever it needs to happen happens.

That's what I did to get the rest of the unittest-integration stuff working, anyway.

The `unittest` module is all implemented in python.  On OS X and Linux that python source is viewable in plaintext.  Maybe it is o

[2016-09-06 12:36] lsh-0 opened #133 "coverage.py `pragma: no cover` not working"
coverage.py has a means of excluding lines from coverage:
http://coverage.readthedocs.io/en/coverage-4.0.3/excluding.html

I'm uncertain how coverage is being called within green, but these comments are not causing the line to be ignored.

[2016-09-06 15:05] CleanCut commented on #133
Works great for me.  Do you have some example code you can provide where it doesn't work?  Green makes extensive use of that pragma itself:

[code]

[2016-09-06 15:24] lsh-0 commented on #133
I have this line here that isn't getting covered and keeping me at 97% coverage:
https://github.com/elifesciences/bot-lax-adaptor/blob/develop/src/main.py#L156

![covered](https://cloud.githubusercontent.com/assets/2142748/18279713/6694f226-744e-11e6-831f-e8874b3e92d2.png)

if it does actually work then perhaps I'm using it incorrectly.

[2016-09-06 15:36] CleanCut commented on #133
Hmm.  It looks like it ought to work just fine.

What is the output of `green --version` on the box you are running your coverage?  And what OS is it?

[2016-09-06 15:44] lsh-0 commented on #133
[code]

[2016-09-06 17:21] CleanCut commented on #133
I get this in both the `master` and `develop` branches:

[code]

[2016-09-07 08:42] lsh-0 commented on #133
may I ask the command you are using to invoke green? there is a `test.sh` script that should be used.

[2016-09-21 21:27] CleanCut commented on #133
Sorry for the huge delay.

I tried on your develop branch today, and I can't get to the point where green would be used.

I made this change locally:

[code]

And then I run `./test.sh` and get this (On OS X)

[code]

[2016-09-22 08:55] lsh-0 commented on #133
yes, unfortunately that project is unstable at the moment and you shouldn't need to install it to replicate it. so, if you can't replicate it, you can't replicate it. I have workarounds for now. Thanks for your attention.

[2016-09-22 08:55] #133 closed

[2016-09-23 21:21] gurnec opened #134 "Using print on Python 2 / Windows causes test failure"
A test case:

[code]

Running the above under green v2.5.1 w/Python 2 under Windows (output below) causes 2 failed tests (not sure why it causes 2, that's perhaps another issue).

I tracked down the cause, but I'm not sure where it should be fixed.

 * [suite.py imports StringIO from io](https://github.com/CleanCut/green/blob/2.5.1/green/suite.py#L8)
 * [suite.py creates an io.StringIO and passes

[2016-09-24 00:11] CleanCut commented on #134
Hmm.  `io` only exists in Python 3.  You are on Python 2.  So the import on line 8 will fail and `from cStringIO import StringIO` will run instead.

That aside, I wonder what's going on.

What exact version of Python and version of colorama are you using?  For reference, here's mine:

[code]

[2016-09-24 00:35] gurnec commented on #134
Currently I've got Python 2.7.12 (Windows x64 binary downloaded from python.org) and colorama 0.3.7 (via pip, I just installed it today for Green). I'm certain that I've used the io module earlier than 2.7.12 (specifically for its Unicode handling), though I can't remember right now exactly how much earlier.

I also just now checked Ubuntu 14.04 which has Python 2.7.6 by default, and Ubuntu 12.04

[2016-09-29 14:28] LeoHuckvale opened #135 "Enable minimum coverage option"
It would be useful with the coverage integration to be able to specify a minimum coverage level, under which the tests will fail.

As much as chasing coverage is a fools errand, for some projects it's necessary to set a high bar...

[2016-09-29 16:14] CleanCut commented on #135
Does the `coverage` project have a built-in way to do such a thing?

Coverage is measured after all tests have run, so there is no particular test to tie the coverage to.  How would you envision such a feature working?

[2016-10-05 19:00] mairsbw opened #136 "Hyphens in module names cause them to be skipped"
I'm not certain if this is intentional behavior or not, but I only noticed it when I started playing around with `pytest`, which does not have this behavior.

I had a module named `test_de-vignette.py` which was silently ignored by green. Renaming it to `test_devignette.py` causes it to be run (and fail, since I hadn't been running it all this time!).

[2016-10-05 19:25] CleanCut commented on #136
Using hyphens in module names [is not a good idea](http://stackoverflow.com/questions/761519/is-it-ok-to-use-dashes-in-python-files-when-trying-to-import-them), and leads to many problems.  (For example, just try `import test_de-vignette`).

I don't plan on adding support for hyphenated module names.

[2016-10-05 19:25] #136 closed

[2016-10-06 05:02] mairsbw commented on #136
While that's fine, I think it's a misfeature to ignore them entirely. pytest doesn't, which is how I found this in the first place. While it actually runs the tests, maybe green can warn about modules it finds that have hyphens, or lists them as Skipped? I've written Python for many years and never knew about the "badness" or hyphenated module names. I'm sure many other people will make this mista

[2016-10-06 15:36] CleanCut commented on #136
The problem here is that I rely on Python's own unittest module to the actual test discovering (part of the [Traditional](https://github.com/CleanCut/green#features) feature).  So it is the built-in module that is ignoring it.  Pytest wrote their own discovery code, so they can do what they want.

To change behavior, I would either have to monkey-patch every version of python that I support (not p

[2016-10-06 15:50] mairsbw commented on #136
Yep, what you said makes sense. It's too much work to support for such a small bug that shouldn't really happen in practice. Thanks for explaining it more fully.

[2016-10-06 15:52] CleanCut commented on #136
No worries.  I personally wish that they would improve `unittest` and fix issues like this as versions went along, but there is something to be said for stability (nothing ever changes) as well.

[2016-10-07 07:59] LeoHuckvale commented on #135
Sorry - I've just realised this is potentially a dupe of #131.

What I meant was, it would be good if Green could report the whole suite as failing (not a particular test), i.e. `green` should exit with non-zero status if coverage does not exceed the minimum coverage set in `.coveragerc`.

I'll look into the code if I get the chance and see if I can make a sensible pull req.

[2016-10-07 16:09] CleanCut commented on #135
That could work.  I look forward to seeing your PR.

[2016-10-14 16:00] CleanCut commented on #134
Sorry for the delay.  I got super busy at work and then went on vacation.  Back now!

What happens if you reverse the imports in `suite.py`?

Instead of this:

[code]

Change it to this:

[code]

[2016-10-14 17:18] gurnec commented on #134
Certainly no need to apologize, I hope you enjoyed your vaca!

Actually, I've been running [this branch](https://github.com/gurnec/green/tree/print-win-py27) which makes [these changes](https://github.com/gurnec/green/commit/8b97c997e3805f4eb681ef96bbb1f818fbb8ec77) instead.

More specifically, I got rid of `cStringIO` entirely in favor of `io.StringIO`. According to [the docs, the latter has been

[2016-10-14 17:48] CleanCut commented on #134
Go ahead and submit your PR.  I'm not concerned about Yosemite support now that Sierra has been released.  Current macOS and one version back is sufficient.  One of green's principles is [being modern](https://github.com/CleanCut/green#features).  There are other options for extensive long-term support other than green.

[2016-10-14 17:49] CleanCut commented on #134
(Might as well update the `.travis.yml` config file in your PR)

[2016-10-14 19:21] gurnec commented on #134
Surprisingly enough, the build which I restarted 2 hours ago for Yosemite just passed (I had tried it several times a few weeks ago, they had all failed). I wonder if the Travis issues were occurring back then?

Would you still like me to update the Travis config, or should I leave it alone?

[2016-10-14 19:57] CleanCut commented on #134
Well, if it's passing we might as well leave it in.  Go ahead and add Sierra, though (assuming Travis supports it...)

[2016-10-14 19:58] gurnec opened #137 "Compatibility issue with Python 2.7.3 and earlier"
With Python 2.7.3 and earlier, running green on this test ends in an exception from green, instead of the expected `Error` result:

[code]

[code]

Unfortunately, `multiprocessing.pool.MaybeEncodingError`, as [imported here in green](https://github.com/CleanCut/green/blob/8f75d022f41cb3fca5a5eec50f7d1ef38f018b86/green/process.py#L143), wasn't introduced until 2.7.4.

2.7.3 *is* a fairly old versio

[2016-10-14 20:19] gurnec commented on #134
It [looks like they're](https://blog.travis-ci.com/2016-10-04-osx-73-default-image-live/) getting rid of Xcode 7.1 on Yosemite (but keeping 6.4 on Yosemite) at the end of this month. They're adding Xcode 8 on El Capitan, and plan to switch it to Sierra at some point in the future.

I'll remove 7.1 in the PR, but it may make sense to wait until they've moved Xcode 8 to Sierra before adding it IMHO.

[2016-10-14 20:38] #134 closed

[2016-10-14 20:45] CleanCut commented on #137
Well, that's just annoying.  We have supported all versions of 2.7 so far.

If you patch it like this, does it work okay?

[code]

[2016-10-14 20:54] gurnec commented on #137
Yes, that fixes it for me (Python 2.7.3 on Windows).

I'll give it a try on Travis at some point and let you know if I see anything wrong, but I expect that this would fix it there too.

Thanks ( and I promise I'll stop bugging you for a while ;-) )

[2016-10-24 21:17] CleanCut commented on #137
Included in 2.5.2 (just released).

[2016-10-24 21:17] #137 closed

[2016-10-25 23:16] gurnec commented on #137
Thanks! I've added it to my Travis build, and it's working great!

[2016-11-18 17:38] carldunham commented on #104
A nice-to-have for us CircleCI users also

[2016-11-18 17:42] CleanCut commented on #104
If someone would like to give implementing that type of output a try, I would be happy to point them in the right direction and review PR's.

[2016-11-18 17:44] carldunham opened #143 "Logging Capture"
Is there a way to capture and display log output for errors? This is a very useful feature of other test runners/plugins.

[2016-11-18 17:47] CleanCut commented on #143
Do you mean output sent through [Python's logging facility?](https://docs.python.org/2/library/logging.html)

[2016-11-18 18:24] carldunham commented on #143
Exactly. nose and nose2 have something like this: http://nose2.readthedocs.io/en/latest/plugins/logcapture.html

[2016-11-18 21:29] CleanCut commented on #143
The answer is no, we don't currently have that feature.  I wouldn't be opposed to it, if someone wanted to submit a patch with that kind of functionality.

[2016-11-24 07:42] johnChnia opened #144 "dont support unittest.skipIf"
version:   2.7.2
os : mac

code；

[code]

when i run this code in pycharm, the result like thsi:

![image](https://cloud.githubusercontent.com/assets/12187260/20590156/6bf4bb42-b25c-11e6-9cda-f688839d3251.png)

but when i run this code in green:

![image](https://cloud.githubusercontent.com/assets/12187260/20590175/89ad85b0-b25c-11e6-9838-bc9694b7f1d9.png)

I think this is a bug

[2016-11-24 18:56] CleanCut commented on #144
What do you think is a bug?

[2016-11-26 21:53] agb80 opened #145 "Custom runner script"
I would like to use green for test an app we develop on python. The problem I'm facing now is that for run the test we need open a database.

At this time I made a little change on the green script to open database session before run the test

[code]

The problem with this method is that database name is hardcoded. Could you suggest a way that I can create a custom runner script with a new param f

[2016-11-26 23:31] CleanCut commented on #145
Write initializer and finalizer functions.  These functions will be run by green inside each worker process before any tests are run and after all tests finish.

If you only have a single, shared database that can't have multiple tests run at the same time, make sure to specify a single process. (`--processes 1`)

For example, if you made a function named `connectToDB` and put it in `myfile.py` yo

[2016-11-26 23:31] #145 closed

[2016-11-26 23:32] CleanCut commented on #145
Here's what `green --help` has to say about the initializer and finalizer:

[code]

[2016-11-27 01:29] agb80 commented on #145
The initializer and finalizer are a good option, but still don't get on how can I add a param on the command to call green. I'm thinking something like this:

[code]

[2016-11-27 03:54] CleanCut commented on #145
Oh, I see what you're asking.  Well, if that's all you want to do, just modify your little script to do it.

[code]

[2016-11-27 05:02] agb80 commented on #145
Thank you very much, works pretty well.

[2016-12-20 19:01] sjsadowski opened #146 "pass with unittest/fail with green"
I've been using green as a test runner for awhile now, but at this point I'm not sure what I'm doing wrong or if this is an actual bug. My assumption is that this is my issue, but my google-fu has failed. I'm also operating under the idea that the test passes without using green, but fails in green.

using python 3.5, green 2.5.2 & falcon 1.1.0

very basically, when doing test running with straigh

[2016-12-20 19:06] dougthor42 commented on #146
Just FYI, use triple-backticks (\```) for code blocks. I've updated your post.

Can you link to a project or post the code that shows this issue?

[2016-12-20 19:27] sjsadowski commented on #146
Hey, no problem. Wasn't paying attention and just hit the 'insert code' button without thinking.

Abbreviated code/tests here. All the current tests that have this issue are the same. Let me know if you'd like anything else.

App code: (./app.py)
[code]

Test code: (./test/test01.py)
[code]
output:
[code]

[2016-12-21 00:19] CleanCut commented on #146
@sjsadowski By default, green replaces Python's `sys.stdout` and `sys.stderr` objects with GreenStream objects so that the output can be intercepted and presented more nicely.  Looks like your code is trying to call `.writelines()` on one of those...which we haven't implemented.

Quick fix: Use `--allow-stdout`

    -a, --allow-stdout    Instead of capturing the stdout and stderr and

[2016-12-21 00:19] #146 closed

[2016-12-21 00:24] sjsadowski commented on #146
Thanks @dougthor42 @CleanCut  - as I suspected, PEBKAC.

[2016-12-21 04:15] CleanCut commented on #146
The patch is included in version 2.5.3. I just released it.

[2017-01-15 13:06] lsh-0 commented on #135
I would *love* for that feature to be a first class citizen.

I'm currently grepping the output in a bash script and exiting with a `1` if it's below a certain threshold. Feels completely hacky, but it gets the job done. If a min coverage param is supported in the rc file and was being picked up and passed to coverage that would be an elegant solution indeed.

I wish I had more time to delve into

[2017-01-16 16:40] Thetoxicarcade opened #147 "osx virtualenv of python3, green running python2.7?"
I installed green in a virtualenv on osx, but when running it, it used python2.7.

is there a way to force it to use the python version I need it to?

[2017-01-16 17:26] dougthor42 commented on #147
Can you provide more details on what exactly you did? Perhaps the commands you ran?

[2017-01-19 11:38] althonos opened #148 "Run coverage without showing coverage report"
Hi !
First of all, great module, running a test suite has never been so good-looking ! I'm really looking forward to green supporting the load_tests protocol ;)

Just a small enhancement though, green allows running coverage, which is great, but there's no way to hide the coverage report. Since some developers use an external coverage reporting tool (Coveralls, etc.) it would be great to be able t

[2017-01-20 22:56] CleanCut commented on #148
This would be a great feature for you to try to implement.  Very straightforward.  You would need to add a new command-line option to `green/config.py`, an if-statement looking at that option at line 391 in `green/result.py`, and a test in `green/test/test_result.py` to test both branches of the if-statement.

The stuff in `config.py` is the trickiest, but if you search for all the instances of on

[2017-01-22 20:43] CleanCut commented on #148
Good work!  I released version 2.6.0 which includes your pull request.

[2017-01-22 20:43] #148 closed

[2017-01-22 21:20] althonos commented on #148
Very straightforward indeed ! Thanks for reactivity on this 😃

[2017-01-23 23:05] Thetoxicarcade commented on #147
@dougthor42 Sorry about that... didn't notice the notification. I'll have to have them pull out their mac.

[2017-02-02 11:13] althonos commented on #131
@CleanCut: I just realized this is a duplicate of #148 (which I forgot to check before creating a new issue). I guess you could close it

@lsh-0: check out the version 2.6.0, it integrates the PR in which I added this feature.

[2017-02-02 12:39] lsh-0 commented on #131
looks promising, cheers @althonos

[2017-02-02 19:16] CleanCut commented on #131
Closing duplicate of #148

[2017-02-02 19:16] #131 closed

[2017-02-13 22:08] pkrefta commented on #21
@CleanCut Thanks for django. I don't want to open another to ask simple question - how can I set verbosity for DjangoRunner ? 😄

[2017-02-14 22:10] CleanCut commented on #147
In general, the answer is simply "install green using pip inside the virtualenv".

Alternatively, you can run "path/to/virtualenv/python -m green"

[2017-02-14 22:10] #147 closed

[2017-02-14 22:14] CleanCut opened #150 "Accessing non-existent object member causes an extra error report"
Accessing any member of any object, like this:

[code]

...for some reason produces:

[code]

[2017-02-14 23:53] #150 closed

[2017-02-15 00:03] CleanCut commented on #144
I'm sorry, but it works fine for me on my Mac using Python 2.7.12, Python 3.5.2, or PyPy 5.6.

I can't reproduce your problem.  Perhaps it is because you are using Python 2.7.2 (which is very old).  Have you tried updating to macOS Sierra?

![screen shot 2017-02-14 at 5 01 37 pm](https://cloud.githubusercontent.com/assets/5838512/22955042/53823a74-f2d7-11e6-927a-ecdcd2fd23d7.png)

[2017-02-15 00:03] #144 closed

[2017-02-20 01:52] johnChnia commented on #144
i am sorry, i will try right now

[2017-02-22 14:03] anomitra commented on #37
@CleanCut Is there a way to set the verbosity directly from the command line when using `manage.py` ? For example, I often like to do a `python manage.py test -v 2`. Is there a similar syntax for `green`, say a `python manage.py test --green-verbosity vv`?

[2017-02-23 19:13] CleanCut commented on #37
@anomitra When I added the functionality, django had not provided any mechanism to pass arguments to the test runner, no.

You can, however, use a green config file to set your defaults differently.

[2017-02-27 11:18] chrischambers opened #151 "Feature request: pytest integration?"
Sorry to be "that guy", but it'd be fantastic if green could hook into pytest and use its test discovery mechanisms. Is this on the horizons? And if so, is it something you're working on or would it be something someone would have to contribute?

Thanks!

[2017-03-01 07:48] anomitra opened #152 "Makefile tests failing"
When I clone the repo and run `make test`, I get this:

    File "/home/monto/python-playground/green/green/cmdline.py", line 29, in main
    from green.loader import loadTargets
    File "green/loader.py", line 13, in <module>
    from green.output import debug
    File "green/output.py", line 2, in <module>
    from colorama.ansi import Cursor
    ImportError: No module named colorama.ansi

This

[2017-03-01 09:18] anomitra commented on #37
@CleanCut I submitted a pull request implementing this functionality at #153, could you please review?

[2017-03-01 19:08] CleanCut commented on #152
I bet there is.  I'll take a look at it and see what I can find.  Of course, if you figure it out before me, I'd love to accept your pull request. ;-)

[2017-03-03 20:35] CleanCut commented on #151
No worries.  This is the place for requests like that.  The worst that can happen is that we just let you know that the answer is "no" -- which is always a possibility because we are not trying to be all things for all people. :-)

I don't know much about pytest.  I started using Green before I discovered that pytest existed.  Can you be more specific about which "test discovery mechanisms" you ar

[2017-03-04 01:04] MinchinWeb commented on #151
I've only looked at pytest is passing, but does support plugins. Presumably, green could be extended or rewritten as a pytest plugin. This way pytest could do the test discover and running, and the plugin version of green could reformat the pytest output so we get the nice green, red, etc dots.

There is a [pytest plugin](https://pypi.python.org/pypi/pytest-greendots) that sort of does this, but i

[2017-03-04 06:11] CleanCut commented on #151
Yep, someone could do that.  In fact, I probably would have tried it if I had known about pytest at the time of the events in the [origin story](https://github.com/CleanCut/green#origin-story).

I certainly don't have any interest in doing that now, though.  If someone loves green's output and pytest's behavior so much, they're welcome to make a green-like output plugin for pytest.  Nothing wrong

[2017-03-04 06:21] CleanCut commented on #152
Sorry for the delay.  I finally sat down and took a look at this.

Colorama is an unconditional dependency.  It must be installed for Green to function.

The Makefile is mostly intended to automate releasing.  I run tests as part of my automated release process.  I haven't tried to get any part of it working on a clean box, so I'm not surprised if some things don't work outside my environment.

If

[2017-03-04 06:21] #152 closed

[2017-03-17 03:46] cjwelborn opened #154 "FileNotFoundError when using multiprocessing Process and Value in tests."
I'm testing a subclass of `multiprocessing.Process`, using a `multiprocessing.Value` to share some values with the caller of the process. All of the other test runners can run these tests with no problem (`nose`, `py.test`), but if I run them with `green` I'm getting a `FileNotFoundError`.  It looks like there is some cleanup of `/tmp` files happening twice, but I'm not sure about that. Here is th

[2017-03-17 16:53] CleanCut commented on #154
I'm so sorry this is causing you a problem!  Green uses multiprocess internally _and_ each process customizes the tempfile directory location so that code being tested that uses temp files won't ever have collisions (so long as the tempfile module is being used).

So...there's a bunch of things that *could* be interacting with your problem.  I'll dig into it as soon as I can and see if I can figur

[2017-03-17 19:22] cjwelborn commented on #154
Awesome, thanks for taking the time.  :smile: I'll probably dig into it a little bit more just in case I missed something.

[2017-03-18 23:19] CleanCut commented on #151
Closing due to lack of response.

[2017-03-18 23:19] #151 closed

[2017-03-19 22:08] #154 closed

[2017-03-20 00:49] cjwelborn commented on #154
@CleanCut, thanks for taking care of this. What's the release schedule for `green` as far as PyPi (`pip`) is concerned? I was wondering when I should start looking to upgrade to `2.7.1`.

[2017-03-20 01:07] CleanCut commented on #154
That was quick.  Re-running the pypy build passed for now, so it is spared a little while longer.

The fix for this issue is in 2.7.1.

[2017-03-20 01:16] cjwelborn commented on #154
@CleanCut, awesome :smile: . Already installed and tests are passing! Thanks again for the fix.

[2017-03-20 15:20] CleanCut commented on #154
No problem!  I don't like bugs.  They ought to be squashed. ;-)

[2017-03-21 12:20] LaurensBosscher opened #155 "Which versions of Django are supported?"
Hi!

I tried running a Python 3.3/Django 1.8 project with the green testrunner and it just stalls no matter if I run 1 single test or all the tests in the project, if I place a few print statements in the green code I can see that the pool and targets do get created in runner.py:run but after that I never get a result.

Could this be because Django before 1.9 do not support parallelisation of test

[2017-03-21 18:00] CleanCut commented on #155
[Green does not support Python 3.3](https://github.com/CleanCut/green#features)

I tried to in the start, but 3.3 was just a mess.  In my opinion Red Hat made a lousy decision shipping 3.3 instead of 3.4 which was already out when they released RHEL 7.0.  I use CentOS 7.x myself, and it's annoying that I *still* can't use a system-provided Python 3.

So, I hear you, but Green is probably never goi

[2017-03-21 18:00] #155 closed

[2017-03-22 14:44] LaurensBosscher commented on #155
That's very understandable, I've upgraded my test environment tot 3.4 and unfortunately I still ran into the same problem described above even when I limit the test target to a single test.

I'll try to see if I can narrow down the case of this problem a bit more. Our project isn't that exotic but it's large enough that I suspect that a dependency other than Django could cause problems.

[2017-03-22 14:50] CleanCut commented on #155
That's definitely a bug, then.  Have you tried making a green config file with `processes = 0`?  If you can trim it down to an example project, I could definitely take a look.

[2017-03-24 10:47] wonderb0lt commented on #77
Hi @CleanCut, I'm still having the problem as described here.

This is my test subject:

[code]

And this is my test runner
[code]

And running everything results in:

[code]

[2017-03-24 15:32] MinchinWeb commented on #77
@CleanCut : I while back I added Unidecode, but only activated it on Windows. Should we activate it on Python 2 as well? Or as a command-line switch?

[2017-03-24 16:48] CleanCut commented on #77
@MinchinWeb I couldn't find a way to fix this problem with unidecode.  I found a way to fix it with some manual decoding, though.  If you can find a cleaner way with unidecode, go ahead and change it.  You can use the `green.test.test_result.TestGreenTestResult.test_printErrors_Py2Unicode` test to duplicate @wonderb0lt's error condition.

[2017-03-24 17:57] CleanCut commented on #77
@wonderb0lt The bug is fixed in 2.7.3 (just released).

[2017-04-04 19:29] suned commented on #72
+1

[2017-04-07 20:40] CleanCut opened #157 "Thank You! - Python Testing with Green - State of the Me"
@rolobio @tbarron @svisser @smspillaz @hindman @miohtama @e3krisztian @jayvdb @nMustaki @thijstriemstra @skeggse @gurnec @MinchinWeb @althonos @anomitra @dtan3847

THANK YOU!

Each of you that I have mentioned on this issue has contributed to Green via a pull request that has been accepted and merged.

As a thanks, I would like to provide each of you with a personal 10-use coupon for a free subscr

[2017-04-08 12:38] thijstriemstra commented on #157
Unsubscribing.

[2017-04-08 22:10] CleanCut commented on #157
Keeping track of stuff:

althonos - Done!
anomitra -
dtan3847
e3krisztian -
gurnec -
hindman -
jayvdb - Done!
MinchinWeb -
miohatama -
nMustaki -
rolobio -
skeggse -
smspillaz - Done!
svisser -
tbarron -
thijstriemstra - Apparently not interested.
-

[2017-04-08 22:12] CleanCut commented on #45
I'm going to go ahead and re-open this.  Even if I don't implement it personally (or at least don't do it _soon_), it's still a good enhancement idea in general.

[2017-04-09 11:31] jayvdb opened #158 "setup.py runner"
A lower impact version of https://github.com/CleanCut/green/issues/87 is to create a `setup.py` runner like https://github.com/pytest-dev/pytest-runner, so that green can be invoked using the tests as defined in `setup.py`, like:

`python2 setup.py green`

[2017-04-10 11:16] anomitra commented on #157
Hi @CleanCut, you can mail me here: anomitra1993@gmail.com.

All the best with the course!

[2017-04-27 18:07] #116 closed

[2017-04-27 18:42] CleanCut commented on #116
Support for this is in the just-released 2.8.0 version.

[2017-05-03 17:00] dougthor42 opened #159 "Tests are not showing as "Skipped" when a unittest.SkipTest error is raised inside setUpClass()"
## Summary
It appears that green is not handling raised `unittest.SkipTest` exceptions in `setUpClass()` as expected. It's silently skipping the entire class instead of verbosely skipping them.

## Steps to Reproduce
Make this file:
[code]

and then run:
[code]

## Actual
[code]

## Expected
[code]

#### For comparison, here's the output of `nose2 green_skiptest_error -vvv` and `python green_skipt

[2017-05-08 01:24] #159 closed

[2017-05-08 01:35] CleanCut commented on #159
Wow!  Thanks for the thorough write-up.

This was a tricky issue.  It all boiled down to Python treating a `SkipTest` exception raised during `setUpClass` as a class setup failure.  Which it is not.  In some versions of Python that meant this got reported as a mysterious setup error without indicating which module/class/test caused it.  Other versions of Python caught it later and marked it as a s

[2017-05-08 02:26] CleanCut commented on #159
This fix is included in version 2.8.2 (just released).

[2017-05-08 13:26] CleanCut commented on #157
The course is starting to get a little traction!  I have a couple dozen students, and I have nearly finished the advanced section.

I'm going to go ahead and "close this issue", but those of you who have not yet responded are welcome to contact me sometime if you decide you would like your free subscription coupon.

[2017-05-08 13:26] #157 closed

[2017-05-08 20:44] dougthor42 commented on #159
Yup, that looks to have cleared things up!

Thanks a bunch.

[2017-05-08 20:50] CleanCut commented on #157
@dougthor42 I somehow missed you on the original post.  Fixed!

[2017-05-27 09:08] mmaiasouto commented on #158
_blank

[2017-05-27 17:16] CleanCut commented on #158
@mmaiasouto ?

[2017-06-23 16:20] CleanCut commented on #87
Feature added by @althonos in #160

[2017-06-23 16:20] #87 closed

[2017-06-23 16:33] CleanCut commented on #87
Included in just-released version 2.9.0.

[2017-06-28 00:49] ducva opened #163 "Issue with Tensorflow Session"
I created sample project at

[green_tensorflow_bug Repository](https://github.com/ducva/green_tensorflow_bug)

For now, I can't use green to run my unit test with Tensorflow.

# Run test with green:
`green test.py`

[code]

# Run test with python

`python test.py`
[code]

Please help!

[2017-06-29 11:19] althonos opened #164 "coverage does not work for files that are out of site"
Coverage does not reach files that are installed. This is probably a missing configuration value for `coverage` in `green/process.py`.

Can be reproduced with `green green.test -r`

[2017-06-29 15:28] CleanCut commented on #164
Hehe, fooled you. ;-)

It works alright, we just assume most people don't want to see green and python library files in their coverage reports.

Try running `green green.test -r --clear-omit`

[2017-06-29 15:28] #164 closed

[2017-06-29 15:30] althonos commented on #164
@CleanCut : I figured that later haha, sorry ! 😸

[2017-06-29 17:28] CleanCut commented on #163
TL;DR Problem caused by module running code on import that doesn't play well with multiple instances of itself running.  [Suggested fix in PR here to not run that code at import time.](https://github.com/ducva/green_tensorflow_bug/pull/1).

[2017-06-29 17:28] #163 closed

[2017-06-30 16:10] MinchinWeb commented on #163
When I first saw this, I wondered if it was something with threads. Does running green on a single thread fix this?
[code]

[2017-06-30 17:26] CleanCut commented on #163
@MinchinWeb No, because that only means a single _worker_ process.  You still have the main process that imports all the libraries to decide how they should be distributed to workers, and since the bug was caused by run-at-import issues, the import in the main process and the import of any worker process (including just a single one) would collide.

There are other classes of behavior problems tha

[2017-06-30 23:44] MinchinWeb commented on #163
@CleanCut Thanks for the explanation!

[2017-07-01 01:52] CleanCut commented on #163
Any time. 😎

[2017-07-07 16:18] CleanCut commented on #158
Feature added in version 2.10.0, just released.

[2017-07-07 16:18] #158 closed

[2017-07-07 16:25] 4poc opened #166 "-p won't do anything"
Maybe I misunderstood the docs but:

[code]

This does not seem to do anything:

[code]

this runs all tests as usual, but I want to constrain it to a particular file by name, should this not work?

[2017-07-07 16:42] CleanCut commented on #166
It works as described for me on my Mac with Python 2.7 and 3.6.

[code]

So...weird.

[2017-07-07 16:44] CleanCut commented on #166
Do you have a public repository that has the problem that I can look at?

[2017-07-07 19:19] 4poc commented on #166
Nothing public unfortunately but I will try to put something up tomorrow that shows the issue, thanks for the quick response! 😁

[2017-07-07 19:20] CleanCut commented on #166
No problem!

[2017-07-21 11:31] VladV commented on #111
@mairsbw @CleanCut

Hello.
Is there some progress on this issue?

I recently found Green and liked it very much, but lack of this feature makes me stick with (somewhat ugly) native unittest runner.
I'd be glad to help with the implementation, just wanted to find out if anything is done already.

Thanks.

[2017-07-21 21:43] CleanCut commented on #111
@VladV I haven't heard of any work on this particular feature since @mairsbw's last comment.  You are certainly welcome to give implementing it a try!

[2017-07-24 21:44] VladV commented on #111
I've implemented a preliminary version, please have a look.
Output is like this:
[code]

[2017-08-06 00:39] cytrinox opened #168 "How to pass options to coverage module?"
The coverage module provides important command line options like *-a*:

For full coverage, I need to run green/coverage multiple times with different environment options. Is it possible to accumulate multiple runs / pass the *-a* option via green?

[2017-08-07 17:26] CleanCut commented on #168
It is not possible with the current version of green (2.10.0), though it sounds like a straightforward and useful feature to add.

[2017-08-07 17:27] CleanCut commented on #166
Please feel free to re-open this request if you are able to provide some code that exhibits the problem you described.

[2017-08-07 17:27] #166 closed

[2017-08-09 07:05] CleanCut commented on #111
Sorry for the big delay, I started a new job two weeks ago and I am in the middle of 4 weeks of training.  I'll take a look as soon as I can!

[2017-08-10 23:31] VladV commented on #111
Congratulations on the new job!
I'm also struggling to find some time to complete the feature and do test it properly.
It seems, there're some problems with capturing stdout/stderr in sub-tests - I'm not sure yet whether they are caused by my changes or not, but I'd like to fix them anyway.

[2017-08-11 05:45] CleanCut commented on #111
Resolved in 2.11.0 (just released).

[2017-08-11 05:45] #111 closed

[2017-08-11 05:49] CleanCut commented on #157
@VladV Thanks for you PR! If you would like a 10-use coupon for a free subscription (see the top post for details), just send me your email address via some means and I'll send it over to you.

[2017-08-28 22:31] althonos commented on #168
I haven't tried, but you could probably use a [configuration file](https://coverage.readthedocs.io/en/coverage-4.4.1/config.html) to configure the `coverage` module !

[2017-09-13 16:16] davidhyman opened #169 "Catch not working"
Once I start a test run I have to wait for completion - because ctrl-c doesn't seem to do the job :(

I see it's meant to!
https://github.com/CleanCut/green/issues/5

What I get instead is a hang
And if I'm impatient and press ctrl-c again, I end up in a state where I see KeyboardInterrupt tracebacks from `CProcess DaemonlessPoolWorker-160:` (that number keeps going up each time I press ctrl-c) e.

[2017-09-13 16:33] CleanCut commented on #169
Yes, I've noticed this myself.  It's definitely a bug.  I'm not sure what's going on yet.  If anyone else has any ideas, please let me know.

[2017-09-29 02:46] lsh-0 commented on #111
thanks guys, works a treat

[2017-10-01 20:18] CleanCut commented on #169
I took some time and tried investigating this...but I can't reproduce the condition!  For me, the first Ctrl-C either ends everything or causes the test run to end after the current running test is running (depending on what's going on when it's pressed).  If the current running test is very long and I press Ctrl-C a second time, then everything stops.

Can you provide me a set of tests that I can

[2017-10-10 03:37] Coburn37 opened #170 "Can't run specific tests targeting Blender"
I'm trying to run suite of tests that target [Blender](blender.org) and I get the following error.

![image](https://user-images.githubusercontent.com/6759176/31367959-a4dac720-ad48-11e7-983a-2bc037bac562.png)
[code]

I have also included my file heirarchy:

![image](https://user-images.githubusercontent.com/6759176/31367980-c90df84c-ad48-11e7-8a1b-2293a9794172.png)

To give a bit of background on

[2017-10-10 03:56] CleanCut commented on #170
Where is the `bpy.pyd` file actually located on disk?

[2017-10-11 17:40] Coburn37 commented on #170
It's a very weird module in that `bpy.pyd` lives in `C:\python35\Lib\site-packages` and then loads all of it's supporting Python resources from `C:\python35\2.79` where `2.79` is the Blender version (this is all laid out in the Blender build process though).

Calling `import bpy` in an interactive python session will load the module `bpy` and also allow for other Blender modules to load like `math

[2017-10-11 19:02] CleanCut commented on #170
You ran pytest on the whole project, but green on just one test file.  Might as well try `python -m green` and see if that behaves any differently.

Other than that, I'm stumped.  I don't use Blender or Windows, and without being able to poke around I'm not sure there's anything else I can do.

Any Windows experts out there want to give this one a shot?

[2017-10-11 19:43] CleanCut commented on #170
Or blender experts?

[2017-10-11 20:45] Coburn37 commented on #170
It behaves the same and gives similar output for each file if I just run `python -m green` or `green`. I'll report back with any more information but I'm as stumped as you are.

In the meantime, it looks like if anything it's going to be something in [`bpy_interface.c`](https://github.com/dfelinto/blender/blob/master/source/blender/python/intern/bpy_interface.c) or [`bpy_internal_import.c`](https:

[2017-10-11 21:25] CleanCut commented on #170
You're probably right, so I'm going to go ahead and close this issue.  But if you find some new information that would point to a way that we could fix it in green, feel free to reopen.

[2017-10-11 21:25] #170 closed

[2017-10-18 10:21] candyboober opened #171 "Asynchronous test run"
Looks like created event loop in my `TestCase` is ignored.
WIth `python -m unittest` my tests is ok.
Exactly I use AioHTTP and aiohttp.test_utils.unittest_run_loop decorator for my tests, for example:
[code]

What are you thinking about that?
I wanna fix it.

[2017-10-18 13:24] candyboober commented on #171
I'm so sorry. I just didn't read a docs.
Just close it.

[2017-10-18 13:24] #171 closed

[2017-10-25 19:28] charlsagente opened #172 "Django parameter"
Hi, I'm trying to integrate green into my django tests. Usually after the second test i use the **--keepdb** argument from command line to save time. I was wondering how can i pass this argument using green, I tried adding this into a config file but I receive a parsing error
[code]

What is the correct way?

[2017-10-25 20:02] CleanCut commented on #172
Can you describe how you are launching your tests, exactly?  What config files / commands are you using?

[2017-10-25 20:16] charlsagente commented on #172
I'm trying with
[code]

I have sett GREEN_CONFIG={mypath}/green.conf

in green.conf

--keepdb

I also tried with:
keepdb=1

[2017-10-25 20:47] CleanCut commented on #172
Oh, I see.  The --keepdb option belongs to django, not green, so pass it to django:

    python3 manage.py test --keepdb --testrunner=green.djangorunner.DjangoRunner

[2017-10-25 20:59] charlsagente commented on #172
I've tryied but i get this

[code]

[2017-10-25 21:33] CleanCut commented on #172
Hmmm, yep.  I see the same thing.

[2017-10-25 21:44] CleanCut commented on #172
Found it.  I won't be able to issue a new release until tonight, but if you would like to hot-patch your local installation of green, here's the diff:

[code]

[2017-10-26 03:12] #172 closed

[2017-10-26 03:12] CleanCut commented on #172
Fixed in 2.11.1 (just released).

[2017-10-26 03:13] CleanCut commented on #169
Closing due to inactivity.

Feel free to reopen this if you have some sample code that can help reproduce the problem.

[2017-10-26 03:13] #169 closed

[2017-10-26 03:32] charlsagente commented on #172
Sweet men!! Need to test it again, your library is amazing. If you need some help in testing or any update/feature please tell me and I´ll be glad to help.

[2017-10-26 03:36] CleanCut commented on #172
Thanks, I appreciate it!

Also, thank you for reporting a valid bug!  If you would like a free code to my [Python Testing with Green](https://www.udemy.com/python-testing-with-green/) course on Udemy, then just let me know what email address you would like me to send the code to.  (You can send an email to nathan.stocks@gmail.com if you want the code but don't want to post your email address publi

[2017-11-30 07:24] jean opened #174 "How to run coverage when invoking green via the setup.py runner?"
I asked this here too: https://stackoverflow.com/q/47567902/274318

I configured an alias for `green` as a [`setup.py` command](https://github.com/CleanCut/green#setuppy-command).

At first it looks like test dependencies are being installed (`Processing coverage-4.4.2-py3.5.egg`) and then all of a sudden they aren't (`The 'coverage' module is not installed`). What's going wrong?

    (DictORM) 14

[2017-12-07 23:59] CleanCut commented on #174
I am so sorry for the slow response!  I just started a new job, and have been spending all my time getting up-to-speed there.

After digging into this, the problem appears to be that for the module to be importable under this scenario it has to be listed in the .eggs/green*.egg/EGG-INFO/requires.txt file that gets generated by setup.py during the running of this command.

Coverage is an "optional

[2017-12-08 00:03] CleanCut commented on #174
Oh, and @rolobio, I blame this entirely on you!  😛   Always making me work... 😉

[2017-12-08 00:45] rolobio commented on #174
Sorry, next time I’ll use a less awesome test runner!

Maybe you could do an extras_require in your setup.py?

[2017-12-08 00:48] #174 closed

[2017-12-08 00:52] CleanCut commented on #174
Lol! I knew I should have waited for your response first.  So there IS such a thing as officially optional.

Oh well.  I already did the work of cutting out the optional support, and I like it because it's less lines and simpler.  So coverage is just required now.  New release coming soon...

[2017-12-08 04:34] CleanCut commented on #174
Fixed in 2.12.0, which was just released.

[2017-12-13 03:28] jcmorrow opened #175 "cannot import name _call_if_exists"
Hey folks! Thank you for your hard work!

Problem
---

This test runner looks neat, I'd like to give it a whirl, but I keep getting an import error

`cannot import name _call_if_exists`

Root Cause
---

~~I've done a bit of digging, [this line](https://github.com/CleanCut/green/blob/master/green/suite.py#L6) is definitely the culprit, and from what I can tell it is a valid import error. `_call_if_

[2017-12-13 05:39] CleanCut commented on #175
You're welcome!  It's always nice to be appreciated.

Can you provide a little more context?
- Versions!  What OS, Python, Django, and Green versions are you on precisely?
- What's the full output?
- Can you provide the source code that causes the problem?  If not, can you strip it down to just code you _can_ provide that causes the problem.

I'd love to help, but I don't really have a whole lot t

[2017-12-13 08:07] jcmorrow commented on #175
Hey! Yes, totally, I should have included more context.

OS: Mac OS High Sierra (10.13.1)
Python: 2.7
Flask: 0.12.2
Output of `green -V`: Green 2.12.0, Coverage 4.4.2, Python 2.7.0

Full output from running `green` command:
[code]

I haven't gotten past loading `green` so I don't think the source would be particularly helpful, but I'm happy to share anything that might help.

[2017-12-14 17:21] CleanCut commented on #175
Wait, Python **2.7.0** on High Sierra?  There's your problem.  Version 2.7.0 was released in 2010!!!  I think you need to use _at least_ 2.7.4, which was released in 2013.  I highly suggest using the most up-to-date version (2.7.14 at the moment), as most updates contain security and bug fixes.

[2017-12-14 17:24] jcmorrow commented on #175
Aha! Sorry, I've just started working in Python, I will go upgrade my everything 😨

[2017-12-14 17:29] CleanCut commented on #175
Wait!  If you don't have a special reason to use a custom Python...don't!  macOS ships with a recent version of Python 2.7.x by default.  It's already there!  Just uninstall your custom installation and it should work fine.

If you do need to install your own version of Python, I _highly_ recommend using [homebrew](https://brew.sh/) to install and manage custom versions of Python.

[2017-12-14 17:29] #175 closed

[2017-12-15 13:08] acabarbaye opened #176 "Green does not seem to work when there are whitespaces in directory path (on Windows)"
I tried to run green in a folder with such a path and I get the following error.

[code]

[2017-12-16 06:36] CleanCut commented on #176
I can't reproduce the error on macOS, and I don't have access to Windows.  Can you provide the output when you add verbose debugging output?  (`-ddd`)

@dougthor42 Would you be willing to see if you could reproduce this?

[2018-01-17 08:20] dizballanze opened #177 "Attribute error in Django 2.0"
Hi, seems that green doesn't work with Django 2.0.
[code]

[2018-01-19 21:44] CleanCut commented on #177
@dizballanze I have not been able to reproduce this error.  I have been experimenting with:
- django 2.0.1
- green 2.12.0
- coverage 4.4.2
- python 3.6.4
- on macOS 10.13.2

Can you provide some way to reproduce the error?  If you are working on an open source project, I could try that directly.  If not, it would be great if you could produce a small django project which simply reproduces the erro

[2018-01-19 21:46] CleanCut commented on #177
Also, what does your config file look like, and where is it located relative to your project?

[2018-01-20 10:04] dizballanze commented on #177
I use packages and Python version as you described above.

Sometimes it raises described above error. In other tries, it raises a bunch of database errors for some of the tests while other tests pass. Some of the errors it raises:

[code]

I managed to fix this by settings `ssl = false` in `postgresql.conf`. But why this works with default test runner?

[code]

Many of `psycopg2.IntegrityError`

[2018-01-22 16:41] Ogaday commented on #177
Just a hunch, as I don't know anything about Django, but this has the hallmarks of concurrency errors.

I had similar issues in another project, wherein green would through different errors on different runs, and using `python -m unittest` instead didn't raise any errors at all. I figured out that it was because I hadn't considered the fact that green uses multiprocessing, and I was accessing the

[2018-01-22 16:57] Ogaday opened #178 "Support option to print test results after errors"
Sometimes when I have many failing tests I have to scroll a long way past errors to see the summary of passing and failing tests - it would be nice to choose to suppress `stdout` or `stderr`, or perhaps print the listing of passes and failures after `stdout` and `stderr`?

[2018-01-23 15:04] Ogaday commented on #178
If I was pointed in the right direction, this is something I'd be happy to have a go at :+1:

[2018-01-23 19:23] CleanCut commented on #177
It could be the same situation.  For systems not designed for concurrent testing (django), I recommend specifying in your green configuration file to use only one process.

`processes = 1`

Please let me know if that helps.  If it does, then I will add that advice to the [Django section of the readme](https://github.com/CleanCut/green#django).

[2018-01-23 19:46] CleanCut commented on #178
The actual stdout/stderr emitted during a test can be captured and discarded with `-q, --quiet-stdout`.  If you mean the traceback output from errors/failures, then they occur after the summary of results because each result summary line is output before the test runs colored white (partly so that if a crash in green itself occurs then you can see which test you were on, and partly so that if the

[2018-01-23 19:47] CleanCut commented on #177
Hmm...if the multiprocessing ended up being the problem, it may be worth adding a feature to Green to auto-detect when it is running under Django and defaulting to 1 process in that case.

[2018-01-23 22:08] Ogaday commented on #178
Thank you very much, that's a very thorough response!

I think you're right, this is the best way to go about it. I'll look into this over the next week or so, and if I have any questions, I'll post them here.

Thanks again!

[2018-01-24 08:41] dizballanze commented on #177
It works with `processes = 1`.
But it's possible to run tests in parallel [since version 1.9](https://docs.djangoproject.com/en/2.0/releases/1.9/#running-tests-in-parallel) with default Django test runner.

[2018-01-29 02:13] lsh-0 opened #180 "disable networking while running tests"
I just encountered a case where a patched function had been bypassed and was calling out to the internet when it shouldn't be.

I'd like all my tests to run without network access to be honest.

pytest has this: https://github.com/miketheman/pytest-socket

is something similar possible in Green?

[2018-01-29 17:35] CleanCut commented on #177
Okay, I'll go ahead and close this, then.

[2018-01-29 17:35] #177 closed

[2018-01-29 18:29] dizballanze commented on #177
Maybe `green` can support parallel tests in new versions of Django? I've tried to set `--parallel` option of the Django test runner equal to `processes` from green. It works but some tests still failing with database errors.

[2018-02-14 00:07] CleanCut commented on #178
I am going to close this issue, as it seems to be resolved.  If you feel the issue needs to be reopened and discussed further, please go ahead!

[2018-02-14 00:07] #178 closed

[2018-02-14 00:13] CleanCut commented on #180
(Sorry for the delay, I somehow missed this issue when it was posted!)

No, green does not currently have a feature that mocks out socket calls.

If you are interested in contributing a patch to do such a thing, I would be happy to point you to the most likely places in green that you would need to touch.  Though, that would likely be more work than writing some code to mock out `socket` module ca

[2018-02-14 00:17] CleanCut commented on #176
I'm sorry, but I don't have Windows myself.  In the absence of a volunteer to help you I am afraid the answer is going to have to be "green doesn't support spaces in directory names on Windows".

If there is a windows guru out there (@MinchinWeb ?) who would like to take a shot at this, feel free to reopen.

[2018-02-20 14:54] buzz opened #183 "green breaks ./setup.py --help-commands"
I have a virtualenv, `pip install green` and have a standard `setup.py`. The following happens:

[code]

If I do `pip uninstall green` things work as expected:

[code]

My test `setup.py`:
[code]

If I change `from setuptools import setup` to `from distutils.core import setup` things are working again.

This only seems to happen on Python3 not Python2.

[2018-02-21 21:44] CleanCut commented on #177
That would be cool. Does Django have any documentation about how a test runner can interact with Django to support parallel tests?

[2018-02-23 17:58] henniss opened #185 "Green should capture warnings"
By default, Python ignores certain warnings to avoid generating excessive noise. Unfortunately, this means that useful warnings such as DeprecationWarnings are likely to be overlooked.

A test runner is one of the most useful places for them to be visible.  Indeed, the default unittest TestRunner [does show them even if they would be hidden by default](https://docs.python.org/3/library/unittest.ht

[2018-02-23 23:23] CleanCut commented on #185
Interesting!  Do you have some example tests that ought to generate such warnings?

[2018-02-23 23:33] CleanCut commented on #183
Wait, what??? I don't see how green could even get involved given that your code never imports it.  Weird!

I'll see if I can reproduce that error on my setup.

What are your exact versions of the following?
- Operating system
- Python
- virtualenv

Also, do you have an actual `foo/` directory with any code in it?  (Or any other code in your directory at all?)

[2018-02-26 02:18] #180 closed

[2018-02-26 03:00] CleanCut commented on #183
Fixed by @althonos in #184

[2018-02-26 03:00] #183 closed

[2018-02-26 03:12] CleanCut opened #186 "Remove termstyle in favor of only using colorama"
We use the `termstyle` library because it is the first library I tried for color that worked -- but to get things really working on _windows_ I had to bring in the `colorama` library.

The `colorama` library _ought_ to be able to do everything we're using `termstyle` for, so lets try removing `termstyle` entirely in favor of only using `colorama`.  One less dependency!

[2018-03-13 17:50] Ogaday commented on #168
+1 for passing options to the coverage module. Happy to look into it, but I haven't yet looked into the last thing I wanted to look at for this library!

[2018-03-14 14:28] wolfc01 opened #187 "Running files containing uniitest classes each one in a subprocess"
Hello,

i want to run the following test skeleton using green, but issuing `green test.py` fails.
[code]
unfortunately for some reasons the fork is required here....

Bets regards
Carl.

[2018-03-20 17:22] CleanCut commented on #187
Hehe, it actually works for me (after adding needed imports), though you end up with two copies of green running (naturally, since you forked), and four copies of your test module running since your forking code happens at the module level which is executed upon import, and green always imports at least once in a master process and a second time in a worker process.

I'm afraid that if you really

[2018-03-20 17:22] #187 closed

[2018-03-20 17:31] CleanCut commented on #168
The tricky thing is that green is using coverage as a library and calling things internally, so coverage isn't doing any option parsing for us.   On top of that, coverage itself uses subcommands, and each subcommand has different options.

If the part of coverage we call reaches out and looks at config files, then that's an excellent option!

If not, then perhaps we could devise some syntax for gi

[2018-05-31 21:13] coreone opened #189 "Ability to turn on buffered output"
I was trying to use some sample code from the following:

https://stackoverflow.com/questions/4219717/how-to-assert-output-with-nosetest-unittest-in-python/31281467

The code in question is as follows and is supposed to be usable within a test method:

[code]

This fails with green because I cannot turn on the buffer option of unittest2 with `-b, --buffer`    to "Buffer stdout and stderr during te

[2018-06-05 16:27] CleanCut commented on #189
I'm not familiar with the buffered output option!  I'll have to check it out.

[2018-06-12 13:37] charlsagente commented on #177
@CleanCut It is possible in the django documentation. https://docs.djangoproject.com/en/2.0/topics/testing/overview/ with the **--parallel** flag. BTW Thanks I had the same issue and **processes=1** solved the issue.

[2018-06-12 20:17] CleanCut opened #190 "Django Parallelization"
We need to either:

- (enhancement) integrate with Django in a way that supports [parallel testing](https://docs.djangoproject.com/en/2.0/topics/testing/overview/#speeding-up-the-tests)
- (bug fix) detect Django usage and override processes down to 1.

The current behavior of requiring the user to just know that they need to configure Green to use 1 process under Django is a pain point for Django+

[2018-06-12 20:18] CleanCut commented on #177
@charlsagente Awesome, I'm so glad it solved the problem for you!

Also, thank you for the pointer to the `--parallel` flag.  I created #190 to track making Django integration more pleasant.

[2018-07-22 19:42] leifwalsh opened #191 "Feature request: Option to omit tracebacks"
In https://github.com/twosigma/marbles/issues/62 we are discussing the prospect of using green to run marbles tests. It works, but one of the things about marbles is that we suppress printing of the traceback, because the message comes with all the information you'd get out of that.

Could we add an option to green to make it suppress printing those?

[2018-10-05 21:00] #191 closed

[2018-10-05 21:28] CleanCut commented on #191
Sorry for the delay, I missed the notification for this issue somehow!

This is actually pretty simple to implement.  I added an `-e` / `--no-tracebacks` option just for you. It's included in version 2.13.0 (just released).

[2018-10-05 21:31] CleanCut opened #193 "Django 2.x support"
It's time to make sure green works (well) with Django 2.x.

[2018-10-09 20:58] thejunglejane commented on #191
Thanks @CleanCut! I just tested this out on one of the [example marbles tests](https://github.com/twosigma/marbles/blob/master/docs/examples/getting_started.py) and here's what I see when I toggle `-e`.

Without `-e`:
[code]

With `-e`:
[code]

It looks like it does exclude the stacktrace but also a lot of the other failure message content. What we'd like to see when we pass `-e` is this:
[code]

[2018-10-09 21:00] thejunglejane commented on #191
Here's a screenshot to show colors
<img width="902" alt="screen shot 2018-10-09 at 4 59 45 pm" src="https://user-images.githubusercontent.com/3423569/46698354-d1f0c780-cbe4-11e8-8464-6662a30c2716.png">

[2018-10-11 20:17] Oxicode commented on #193
+1

[2018-10-30 13:45] Ogaday opened #197 "FileNotFoundError when running green's own tests"
Looks like a similar bug to #154, but that issue is closed.

Steps to reproduce:

[code]

I'm running ubuntu 18.04.

Should I be running the tests differently, ie. with `make`? If this is a bug and not user error, I'm happy to dig into it a bit.

- Looking at the docstrings, I can see the test that is "failing" - it looks like it's passing but it's not, just as described in the docstring.

[2018-11-01 22:38] #85 closed

[2018-12-11 06:54] grigi opened #200 "ResourceWarning: unclosed file VERSION"
When running with `PYTHONWARNINGS=default` envvar, I get the following:
[code]
It seems that green isn't closing its own VERSION file.

Changing line 7 to:
[code]
should resolve it.

[2018-12-14 20:48] gleopoldo commented on #72
+1 Same issue

[2018-12-14 23:39] CleanCut commented on #72
I never have made it to researching this one. If anyone has already figured something out with pdb, please let me know as I would love to use your experience as a starting place for making this work.

[2019-01-16 09:40] tkamenoko opened #201 "Strange output with non-ascii string"
Platform: Windows 10 64bit
Python: 3.7
Shell: Powershell 6.1.1

Test code:
[code]

Output by `Green`:

Output by builtin `unittest`:

Test finished as expected, but that is wrong output(`日本語`->`Ri Ben Yu `).

[2019-01-16 11:41] gleopoldo commented on #72
I'm comming from ruby community, so I'm not experienced with python, and less with pdb itself. However, I've seen some approaches using ruby's `Fibers` to control thread execution on collaborative ways, allowing us to stop a running thread, do something with it, and then resume it's execution. I think that some debugging engines, like `byebug` already uses that. Do you think that we can take such

[2019-01-31 22:16] vanities commented on #193
Just wanting to make sure, green doesn't support django 2 right?

getting this when trying in docker: `docker-compose  run --rm test green`
[code]

Of course, the apps aren't loaded, what kind of work would have to be done to load the apps for green?

[2019-02-07 18:16] CleanCut commented on #193
@vanities Correct, green does not support Django 2 yet.

I haven't looked at it yet.  It's entirely possible that supporting Django 2 is very easy. Django 1 support wasn't particularly hard.

[2019-02-08 19:32] CleanCut commented on #193
I took a look at Django 2 today, specifically version 2.1.5 on Python 3.7.2.

Everything worked for me!

@vanities Are you using a functioning django app, or trying out a brand new one?  If a new one, perhaps you need to [install your app](https://docs.djangoproject.com/en/2.1/intro/tutorial02/#activating-models)?  That's just a shot in the dark. All I know about Django is what I see in the tutori

[2019-02-08 19:32] #193 closed

[2019-02-08 20:44] #186 closed

[2019-02-11 16:31] CleanCut commented on #197
I finally found the time to dig into this.  This is a regression in #173 that broke the fix in #154 on some versions of Python on some platforms.  I'm surprised it wasn't lighting up TravisCI like a Christmas tree. Fixed it by reverting to the state in #154.

[2019-02-11 16:31] #197 closed

[2019-02-11 16:36] #200 closed

[2019-02-11 16:37] CleanCut commented on #200
Good catch, thanks!

[2019-02-11 16:43] CleanCut commented on #201
I can't reproduce that on my Mac. 🤷‍♂️

What happens if you try setting an encoding with a line like this at the top of your file? (If you are not using utf8, then replace that with your actual encoding):

[code]

[2019-02-11 16:56] MinchinWeb commented on #201
Also, what is your codepage set to?

[2019-02-11 16:58] CleanCut commented on #200
Fix is in 2.13.1 (just released).

[2019-02-11 17:01] CleanCut commented on #197
Fix is in 2.13.1 (just released).

[2019-02-11 17:03] CleanCut commented on #186
Included in 2.13.1 (just released).

[2019-02-12 01:40] tkamenoko commented on #201
@CleanCut Setting encoding comment has no effect.

@MinchinWeb default 932(shift-jis), but same result on 65001(utf-8).

In my opinion, this is caused by `unidecode` package.

https://github.com/CleanCut/green/blob/ce9383b50f876723ea8e8d81a6463dbcc9f3566b/green/output.py#L145-L148

To reproduce, run this code.
[code]

[2019-02-12 21:29] MinchinWeb commented on #201
I think you figured out what's going on, and I can fill in the why: `unidecode` was brought in as Unicode output was causing a number of hard to debug and reproduce issues on Windows. With `unidecode`, `green` would at least output something, rather than crash.

So `green` is working as it was designed to. But do we need a command line or environmental variable to turn this off?

[2019-02-13 00:16] CleanCut commented on #201
I agree. This is expected, but not necessarily ideal.

If we added an option to disable this behavior, would anyone use it?  @tkamenoko @MinchinWeb

[2019-02-16 08:13] tkamenoko commented on #201
Yes, I think so. Current behavior is not documented and may lead to confusion. The same output as builtin `unittest` is required.

[2019-02-23 13:00] AndreGuerra123 opened #202 "Cannot be installed using Poetry."
Failed to install using Poetry 0.12
[RecursionError]
maximum recursion depth exceeded
Regards,

[2019-03-15 22:41] #201 closed

[2019-03-16 00:05] CleanCut commented on #201
Fix is in 2.14.0, just released.

[2019-03-16 00:08] CleanCut commented on #202
@AndreGuerra123 Sorry for the delay, I was on vacation! 🌴

Could you please provide some details about your setup so we can reproduce the problem?  For example:
- Operating System
- Output of `green --version`
- The commands you are using with Poetry
- Anything else we would need to know to run stuff and see the error

If we can reproduce the problem, there's a good chance we can fix it!

[2019-03-20 13:26] GjjvdBurg commented on #202
Thanks for looking into this, I encountered this problem as well. The issue on the Poetry repo is [here](https://github.com/sdispater/poetry/issues/795). The commands to reproduce:

[code]
You can use the command ``poetry -vvv add green`` to see more verbose output. The problem is the duplicate dependency on colorama, but whether this should to be fixed in Poetry or Green I can't tell. Thanks agai

[2019-03-21 23:30] #202 closed

[2019-03-22 02:01] CleanCut commented on #202
This fix was included in 2.14.1, which was just released. 👍

[2019-03-22 08:44] GjjvdBurg commented on #202
Thanks a lot @CleanCut!

[2019-04-03 13:46] fchauvel opened #203 "'GreenStream' object has no attribute 'encoding'"
I'm currently migrating my [CAMP application](https://github.com/STAMP-project/camp) from Python 2.7 to Python 3.5.3 (on Debian 9) and I now get several tests that fail only when I use green (they pass if I run a `python setup.py  test -s tests.generate.test_samples`.

See the logs I get below using green. The output intercepted by Green shows that the z3 module (which we depend on) tried to acces

[2019-04-04 23:41] #203 closed

[2019-04-04 23:58] CleanCut commented on #203
Your guess was correct! This was very similar to #146.

I added an encoding attribute to our wrapped `sys.stdout` that mirrors the value of what we're wrapping.  I tested it on your Camp application and it worked for me.  The fix is in Green 2.14.2 (just released).

[2019-04-05 13:35] fchauvel commented on #203
Works just fine now! Many thanks for the quick fix!

[2019-04-05 14:42] CleanCut commented on #203
You're welcome!  It is always nice when the solution is so straightforward. That's fairly rare in my experience. 😄

[2019-04-10 17:57] #104 closed

[2019-04-11 20:57] CleanCut commented on #104
✅ `-j/--junit-report` shipped in 2.15.0, which was just released.  Thanks to @fchauvel for contributing this feature! 🎉

[2019-04-11 21:00] CleanCut commented on #34
@meejah Green now has a `-j/--junit-report` feature contributed in #204.  I'm going to close this issue guessing that this fills your need, but feel free to open the issue back up if it doesn't and explain why.

[2019-04-11 21:00] #34 closed

[2019-04-11 21:01] CleanCut commented on #12
Nobody has ever requested it (that I've documented -- maybe I've forgotten?).

[2019-04-11 21:01] #12 closed

[2019-04-11 21:04] CleanCut commented on #135
I'd like to work on this feature the next time I get a little bit of spare time. I'd also be perfectly happy if someone beat me to it.

[2019-04-15 13:56] axc450 commented on #133
Sorry to comment on an extremely old issue, but I am facing this problem and seeing as this is the only thing on the internet I can find about this, I thought it might be helpful to leave a (maybe _the_) solution:

This was not working for me because I had defined a `.coveragerc` file with `exclude_lines`. If you have done this, you will have to add the below to the `exclude_lines` section:

[code

[2019-04-15 14:59] CleanCut commented on #133
@axc450 Thanks for that info!

[2019-04-21 23:12] jrabbit commented on #168
https://coverage.readthedocs.io/en/v4.5.x/api_coverage.html#coverage.Coverage.__init__ specifically the config argument if this was exposed in options that'd be great. Having to specify in multiple locations coverage options seems odd.

[2019-04-23 01:50] sbellem commented on #133
Thanks @axc450! Also had the same problem.

It is worth noting that the documentation of `coverage.py` does mention (under https://coverage.readthedocs.io/en/coverage-4.3.4/excluding.html#advanced-exclusion):

[2019-04-24 18:19] CleanCut commented on #168
@jrabbit That's a good suggestion. Having the ability to direct coverage to a config file could cover all future (and existing) coverage options, and Green wouldn't have to maintain some custom parsing of said options.

[2019-04-26 00:18] #168 closed

[2019-04-26 02:06] #135 closed

[2019-04-26 02:16] CleanCut commented on #135
Included in 2.16.0 (just released) as `-m/--minimum-coverage`

[2019-04-26 02:16] CleanCut commented on #168
Included in 2.16.0 (just released) as `-g/--cov-config-file`

[2019-07-12 16:31] jayvdb opened #206 "pypi sdist doesnt contain a LICENSE file"
I'm in the process of packaging green for openSUSE.
https://build.opensuse.org/package/show/home:jayvdb:coala:test-rig/python-green

One minor problem is the sdist on PyPI doesnt include a LICENSE file.  I will add it manually to get past this, however it is a licensing problem - all distributions should include the LICENSE files.  Latest setuptools automatically does this now, but there are lots

[2019-07-13 04:41] jayvdb opened #207 "Detect missing test dependencies"
Idea comes from https://github.com/althonos/jinja2-fsloader/issues/1

At the end of a green test run, green could look at which modules were loaded during the tests and report them, or (more difficult) compare them against the project metadata to indicate which were missing.

[2019-07-19 09:02] tattah opened #208 "JUnit Report doesn't have testcase timing details"
Thanks for developing this great package. IMHO its the best Python unit testrunner that I have come across.  I have been using it for about a year along with the other tools below for the reasons given, whilst Unit, Integration and Acceptance testing:

* **unittest** - Preferred over nose or pytest because of compatibility reasons.
* **green** - Fast feed-back loop and sensible coloured console ou

[2019-07-19 09:22] tattah commented on #208
Apologies, I just realized that green 2.16.1 has the -j|--junit-report option but I noticed that the generated JUnit report doesn't have testcase timings details.

[2019-08-28 09:31] kryft opened #210 "green -vv does not print test docstrings"
I just installed green 2.16.1, and `green -vv` doesn't print test method docstrings. For instance, with test_foo.py from the readme, the output for `green -vv` is this:

[code]

If I set the verbosity level to 3 with `green -vvv`, it does print the docstrings.

[2019-08-28 16:02] kryft commented on #210
Ah, ok, then the sample command in the Quickstart section of the readme must have a typo (the command has `-vv`, but it should have `-vvv` to be consistent with the output):

[code]

I guess it wouldn't hurt if `green -h` mentioned this as well, but probably just fixing the typo in the readme will go a long way. :)

(I actually thought it wasn't a typo because IIRC - can't check right now - `green

[2019-08-29 08:42] kryft commented on #210
Ah, that makes sense. :)

[2019-09-01 22:38] CleanCut commented on #210
Fixed.  Updated the screenshots as well, for good measure.

[2019-09-01 22:38] #210 closed

[2019-09-02 02:10] #206 closed

[2019-09-02 02:25] CleanCut commented on #207
I'm mostly going to redirect you to coverage for this!

Reporting loaded modules can be accomplished via coverage (`-r/--run-coverage`) and the desired combination of coverage-pattern-modifications!  (Start with `-O/--clear-omit`, for example) -- though I don't think that's particularly elegant.  I'd be okay plumbing through a coverage feature for this if one exists (or gets created), but I'm not

[2019-09-02 02:25] #207 closed

[2019-09-02 13:58] cocoonkid opened #211 "Ho to make green default in pycharm or vscode ?"
Ho to make green default in pycharm or vscode ?

[2019-09-02 16:09] cocoonkid commented on #211
I was able to do it via Pycharm Run External Tool Macro. But is there a more elegant solution?

[2019-09-02 16:21] CleanCut commented on #208
On first glance, this might be easy by recording timing in `result.py`'s `ProtoTestResult` using `startTest` to initiate timing and `stopTest` to measure and record it.  Then the information would need to be plumbed through to the JUnit logic and hooked in.

/cc @fchauvel who contributed JUnit support and might be interested in this.

[2019-09-02 16:31] CleanCut commented on #211
@cocoonkid I don't use either of those myself, but I looked into it and here is what I've found:

For VSCode there are probably many options, but I suggest contacting the authors of the [Python extension](https://github.com/Microsoft/vscode-python) and asking them how to use Green via their extension.  I'm happy to work with them if they are interested (feel free to @-mention @cleancut in the issu

[2019-09-02 16:31] #211 closed

[2019-11-04 19:33] sodul opened #212 "Python3: Green does not de-duplicate test modules missing __init__.py"
We have a deep tree that is shared by several teams and once in a while we end up with modules with the same name. This is fine for runtime since the import resolution and namespacing is taking care of that.

How to reproduce:

[code]
Create files test_x.py in the 3 test directories:
[code]

Then run:
```green -vv foo```

A single test will run because all test modules will resolve to `test_x`.

I

[2019-11-10 18:51] bmchristensen opened #213 "Add "watch" mode to CLI options"
Some test runners, Jest for example, have CLI options to watch project files and run the tests on the detection of a change to those files. This improves workflow during strict TDD.

Although I may be mistaken, I haven't seen any setting or option to do this with green. I certainly think this would be a useful enhancement.

In a similar vein to Jest, from the CLI:
`green --watch`
`green --watchAll

[2019-11-23 22:34] charles-l commented on #88
@aperezdc

I've built a test program to do this:

[code]

With unittest, it will run:

`python3 -m unittest test_doctest.py`

`green` currently hangs, but I submitted PR#214 to address that. When I run it now, I get the following error:

[code]

So it looks like at some part inside `green` the `DocTestCase._dt_test` field is getting turned into a string...

[2019-11-27 13:01] samtayuk commented on #176
I'm having this issue too.
Has there been any planned fixes?

[2019-12-02 19:15] threexc commented on #159
Hello,
I've encountered a similar issue on the Yocto Project with a particular QA test. Do you have any plans to submit a fix for this upstream for unittest?

[2019-12-13 01:05] CleanCut opened #215 "Contribute our local fix upstream to Python"
[These lines](https://github.com/CleanCut/green/commit/c988919561ea1a83e3d4d5ff4a99663b554fc2d3#diff-3bb96ef79f5c5b3bb6bcf1ae5e1815e3R105-R109
) are a monkey-patch I made for unittest to work around an upstream bug that was reported in https://github.com/CleanCut/green/issues/159

Let's contribute that fix upstream to Python!  Then maybe we could _not_ monkey patch our stuff.

I'm pretty busy, so

[2019-12-13 01:06] CleanCut commented on #159
@threexc The thought hadn't occurred to me!

I created https://github.com/CleanCut/green/issues/215 to track contributing the fix to upstream, but I have no idea when I'll be able to get to it.  I included a link to the actual few lines that are the fix, so if you or anyone else would like to have the fun of contributing it upstream, please go ahead! 😄

[2020-01-04 03:04] #88 closed

[2020-01-04 04:29] CleanCut commented on #88
Support for doctests was added in version 3.1.0, just released.  It requires choosing which modules you want to execute doctests from (for example, lets say you have doctests in `myproj.foo and myproj.bar`), and then _in one of your test modules that contains unit tests_ adding a `doctest_modules = [ ... ]` list containing the modules you want to import the doctests from.  For example, if you had

[2020-01-04 04:34] CleanCut commented on #213
Correct.  Green does not have this functionality.  I wonder if there is some other utility that one could use to do this sort of thing.  I would imagine there must be something out there where you could just do...

[code]

[2020-01-06 23:34] CleanCut commented on #176
@samtayuk I haven't planned anything, no.  But now that there are reports from two people, and I actually have access to Windows 10 via a virtual machine on VMWare, perhaps I may actually find the time to look into this. We could get lucky, and it might be something simple. 🤞

[2020-01-07 00:40] CleanCut commented on #212
Dang, that's tricky.  To restate the problem: Python 3 views this hierarchy as a single [implicit namespace package](https://www.python.org/dev/peps/pep-0420/) with root `bar`, while Green sees it as two separate packages both named `test_x` which happen to reside in different directories (since there's no `__init__.py` in `baz` or `quux`).

[code]

Green relies so much on `unittest`'s internals,

[2020-01-08 00:53] sodul commented on #212
Re-adding the Python 2 style empty `__init__.py` files is what we have been doing. We even have a check as part of our CI pipeline to ensure that these files are always present.

Note that this is not a problem just for Green but for other tools such as pylint. Not a big deal but it is good to know since other might be surprised that their python 3 code is not fully tested in these cases.

Thanks

[2020-01-10 00:28] CleanCut commented on #212
You're welcome!  It's fun to hear about folks actually using Green. 😄

[2020-01-13 15:21] blech75 opened #216 "no way to exclude/omit/skip tests in subdir"
I'm working on a Google App Engine project (Python 2 😬) that has its libs frozen in `./lib` and `./test/lib`. When I run `green test`, it fails on tests in `./test/lib`, which I don't want to be run in the first place.

**Is there any way to exclude subdirectories?** (I noticed that we can omit dirs from coverage reports via `-o`, but not from running tests.)

To work around this, I'm proposing mo

[2020-01-31 20:19] alexandrebarbaruiva commented on #72
Man, I'd really love to see this feature on green!

[2020-02-04 05:06] CleanCut commented on #216
Technically, no. There isn't a way to specify paths to exclude.  I could see how that could be a useful feature, though!

As a workaround, you _could_ specify all the other paths except that directly, either by manually typing them out or getting clever with how you pass the arguments to green.  For example, if you are using bash:

[code]

or

[code]

[2020-02-25 04:26] timgates42 opened #217 "Fix simple typo: actuall -> actually"
There is a small typo in green/test/test_config.py.
Should read `actual` rather than `actually`.

[2020-03-06 08:27] psacawa opened #219 "Colour stack trace using pygments?"
Hello, and thank for this module.
I am wondering if consideration has been given to adding colour to the stack traces printed out upon failure of a test. For a test runner emphasizing colour, this seems like an obvious omission. I have patched in this functionality using `pygments` in my fork: https://github.com/psacawa/green/commit/1922bc8a877bd41b3195b2469c62d953813cd6e5 in an ad hoc fashion tha

[2020-03-09 01:48] CleanCut commented on #219
I never considered colorizing tracebacks!  Pygments has no dependencies itself, so nice and tight -- no concerns there.

Would you be interested in trying to polish this up to include in a release?  Here are the items I've noticed that would need to be addressed before merging:

- Restrict colors to the ansi 16-color palette (the ones in the table at the bottom of [this page](https://pygments.org/

[2020-03-09 01:52] #217 closed

[2020-03-09 01:52] CleanCut commented on #217
❤️

[2020-03-09 02:01] CleanCut commented on #216
I'm going to go ahead and close this issue.

I am not planning on adding this feature, because I'm subclassing and modifying `unittest.TestLoader` in a pretty crazy way, and I don't want to ever touch that code again if I can avoid it. 😝

[2020-03-09 02:01] #216 closed

[2020-03-09 04:27] CleanCut commented on #215
I finally sat down to do this today and discovered that this was fixed as part of https://github.com/python/cpython/pull/9190 that was included in Python 3.8.

The new task for this issue is:
- [ ] Only do the monkey-patch for Python versions less than 3.8

[2020-03-09 04:44] CleanCut commented on #215
Hmm...it appears the different way that they fixed the problem interacts badly with how we count up skipped tests...so I'll have to look into that. 🤦‍♂

- [ ] Adapt to upstream's SkipTest fix in Python 3.8+

[code]

[2020-03-10 16:11] psacawa commented on #219
I've made a commit that i believe addresses your concerns: https://github.com/psacawa/green/commit/2bc904d62fb742e33430a59de8b84564500e26a9
It uses `pygments` `TerminalFormatter`. Browsing its source, it appears to use only the 16 colour identifiers referenced on that page you linked.
It doesn't support `pygments` styles, so there is no need for a command line arg, unless perhaps to turn off stack

[2020-03-17 01:41] CleanCut commented on #219
@psacawa Ah, I failed to mention to please make sure the pygments output uses one of the existing colors we are already using (Red, Green, Blue, Yellow, Bright White).  Right now the two offenders that I see are `AssertionError` is a Bright Red instead of Red, the strings are Cyan -- let's do Yellow instead.

There is already a `--notermcolor` flag, which you just added support for (it's what sets

[2020-04-21 02:02] jakebott opened #220 "Green hangs on ModuleNotFoundError"
I have recently noticed that if a test tries to import a non-existent module, it will print out a stack trace then hang indefinitely instead of the expected behaviour of reporting a failed test or crashing.

### Reproducing the error
Create a file called `test_something.py` in an empty directory with the following contents:
[code]
Run green in the directory.  It will produce the following output a

[2020-04-22 03:55] CleanCut commented on #215
Found and fixed the problem in `green.test.test_suite.TestGreenTestSuite.test_skip_in_setUpClass` -- the test itself broke due to changes in internal unittest implementation in Python >= 3.8.

I suspect the other failure is a similar failure due to reliance on unittest internals. Hopefully I can track that down as well.

[2020-04-22 19:15] CleanCut commented on #215
Nope, I was completely wrong.  The change in Python 3.8 did _not_ fix the problem, it just changed code that broke our monkey patch to the problem.  I added a new, updated monkey-patch in 9f393edcaacc838bf3635f84a83537a6c7ce045b

Now the task in this issue reverts to:
- [ ] Contribute our local fix upstream to Python

[2020-04-22 21:39] #220 closed

[2020-04-22 21:43] CleanCut commented on #220
Thanks, @jakebott!  Great bug report!  Although I wasn't able to reproduce it on my Mac, that docker image allowed me to reproduce it and track it down.

The TL;DR is that it was a bug uptream, and I was able to work around it pretty easily by moving the initialization of the multiprocessing pool until after we've had a chance to load the modules (and crash out).

Here's how I put it in the releas

[2020-04-22 22:57] CleanCut commented on #220
Fix included in Green 3.1.1, just released.

[2020-04-23 01:08] jakebott commented on #220
Thanks @CleanCut! I have double-checked and so I can confirm that Green 3.1.1 fixes the problem.

[2020-04-29 08:29] SebiSebi opened #221 "Incompatibility with pyfakefs for Python 2.7"
I am using `green` as a test runner on Travis CI. I have noticed a problem when testing on a mock file-system (using `pyfakefs`). Code to reproduce the issue:

[code]

Running `python test_example.py` works fine. However, running `green` fails with this trace:

[code]

This only happens on Python 2.7.

I know that Python 2.7 reached the end of its life on January 1st, 2020 but it would be nice to

[2020-04-29 08:35] SebiSebi commented on #221
The error is deterministic, it happends 100% of time on Python 2.7.

It never happened on Python 3+.

[2020-05-03 09:24] bkmd11 commented on #176
I am interested in trying to figure this bug out, would that be ok?

[2020-05-04 21:47] CleanCut commented on #176
@bkmd11 Absolutely!

[2020-05-04 22:02] #221 closed

[2020-05-04 22:15] CleanCut commented on #221
Can do. Since the crash was happening in a Python 2-specific block during a tempfile cleanup, I went ahead and added a `try` block to just catch and ignore the error.  Version 3.1.2 has the fix -- give it a try.

[2020-05-05 19:07] #176 closed

[2020-05-05 19:22] SebiSebi commented on #221
Awesome! It looks fixed. Thanks!

[2020-05-06 03:56] CleanCut commented on #176
Fix included in 3.1.3, just released.

[2020-05-06 21:14] Codeberg-AsGithubAlternative-buhtz opened #223 "NameError not catched by "green" but by "unittest""
I try to understand the differences in the output between `green` and `unittest` because the latter shows me a very important exception. Please look for the line `NameError: name 'bascis' is not defined` in that code:
[code]

Now you see the output of `green` where this error (a simple typo by the way) is missing but very important because it is in the `tearDownClass()` methode.

[code]

Maybe I m

[2020-05-07 16:51] CleanCut commented on #223
Does the error occur with the latest version of Green? (3.1.3 at the moment)

Is your code publicly available? (Can I look at it?)

[2020-05-07 20:16] Codeberg-AsGithubAlternative-buhtz commented on #223
The code is not public - but just because of the current quality state. So no problem for me if someone else looks into it. I attached an archive and I am open for all suggestions about improving that code. Currently I am in a big refactoring phase. Creating tests for that code is also part of that phase. It is the first time I try to use tests in a "real" coding project.
btw: The official (but em

[2020-05-08 00:52] #223 closed

[2020-05-08 04:34] CleanCut commented on #223
This one was tricky! Thanks to your bug report, I was able to identify and fix a bug that has been present in Green for years that has masked errors in module- or class-level teardowns! ❤️

The fix is included in Green 3.1.4 (just released).

[2020-05-08 04:34] CleanCut commented on #223
Oh, and it's the 🥧 release, how fun! 😁

[2020-05-08 19:16] Codeberg-AsGithubAlternative-buhtz commented on #223
I can confirm that this is fiex in 3.1.4. Thanks a lot.

btw: I would like to see `green` as part of the official debian repository. I know it is not easy. ;)

[2020-05-08 21:15] CleanCut commented on #223
I'm glad you like it that much!

[2020-05-11 21:17] bkmd11 commented on #208
I am interested in working on this enhancement, would that be alright? I do have a question on what the end objective is. Should the output file have time taken for each individual test, or the total time for the entire test suite?

[2020-05-11 22:02] Codeberg-AsGithubAlternative-buhtz commented on #185
btw: In my cases warnings are not ignored.
I would assume that the opener missoncfigured its logger instance.

Issue can be closed.

[2020-05-11 22:05] Codeberg-AsGithubAlternative-buhtz opened #224 "Module and class headings are to late on stdout"
![green](https://user-images.githubusercontent.com/11861496/81616534-ec53de00-93e3-11ea-9305-934a884d9afd.png)

I would name line #4 the _module heading_
and line #5 the _class heading_

The output from line 2 & 3 comes from the `setUpClass()` method.

I would assume that the heading for module is print to stdout before `setUpModul()` is called and the heading for the class before the call of `set

[2020-05-12 03:14] CleanCut commented on #224
No, the module and class are extracted from the test.  Whenever a test has a new module and/or class, the appropriate headings are printed immediately before the test line.

By default, stdout and stderr should be captured and reported later in a section that tells you exactly where they came from.  Did you disable that feature with `-a` or `--allow-stdout`?

[2020-05-12 03:17] CleanCut commented on #208
Yes!

I don't know the answer to that myself. I would start by looking up some example JUnit reports.

[2020-05-12 18:49] Codeberg-AsGithubAlternative-buhtz commented on #224
Sorry I should have create a minimal working example from the beginning of that issue. Here it is

[code]

That is `test_green.py`
[code]

And this is the output (edited manually by me) as I would expect it

green --processes 1 -vvv tests/test_green.py
Green 3.1.4, Coverage 5.1, Python 3.7.3

tests.test_green
  TestGreen
create temporary profile files
    test_foobar
.   test_foobar
remove tempora

[2020-05-12 21:33] CleanCut commented on #224
Ah, thank you!  The fact that this output is not getting captured is a bug.  I'll look into that.

The test line is printed twice (first white before it is run, then overwritten in the result color after it is run) for two reasons:
1. In case there is a catastrophic crash that brings down Green during a test, the test itself will have already been output (in white)
2. If a test takes a very long t

[2020-05-12 22:37] #224 closed

[2020-05-12 22:42] CleanCut commented on #224
I finished my investigation.   Green has never supported capturing output from module/class setups or teardowns, despite me thinking I had implemented that.  Though I would like to add this as a feature, it is extremely difficult and I am not planning on taking it on.  If someone would like to give it a try, I'd be happy to collaborate on a pull request. The place to start is `green/suite.py` in `

[2020-05-13 06:30] Codeberg-AsGithubAlternative-buhtz commented on #224
Thanks a lot for your fast reactions and good explanations.

[2020-05-13 23:34] CleanCut commented on #224
No problem! Sorry I couldn't provide a more satisfying response in this instance.  This is the drawback of hitching Green to `unittest` -- having to deal with it's internal implementation.  On the other hand, there's no barrier to using Green nor any "vendor lock-in".  Always tradeoffs!

[2020-05-20 19:47] jeansaad commented on #208
@bkmd11, I believe that the output file should have the time taken for a `<testcase>`, `<testsuite>`, and `<testsuites>`. Have a look at https://www.ibm.com/support/knowledgecenter/SSQ2R2_9.1.1/com.ibm.rsar.analysis.codereview.cobol.doc/topics/cac_useresults_junit.html for more information.

[2020-06-07 03:23] #208 closed

[2020-06-07 04:19] CleanCut commented on #208
Included in Green 3.2.0 (just released).

[2020-06-07 18:40] CleanCut commented on #220
FYI, the way I fixed this in 3.1.1 introduced hangs and crashes (I observed them on macOS)...with increasing chances of problems with each additional subprocess.  I fixed the regression in 3.2.0 while preserving this fix.  I recommend anyone using 3.1.x upgrade to at least 3.2.0.

[2020-06-16 19:53] alexandrebarbaruiva commented on #72
@CleanCut I looked at nose.set_trace() and noticed that they restored the `sys.stdout`, does `green` change the default stdout? I know nose is very old by now, but maybe it helps me understand what's going on

Copying and pasting the code for easy referencing:
[code]

[2020-06-17 03:28] CleanCut commented on #72
@alexandrebarbaruiva Yes, Green [captures stdout by replacing saving and replacing the value of `sys.stdout`](https://github.com/CleanCut/green/blob/master/green/suite.py#L202-L203) and then [sets `sys.stdout` back to its original value](https://github.com/CleanCut/green/blob/master/green/suite.py#L211-L212) before and after every test (unless the user specifies `-a/--allow-stdout`).  If altering

[2020-06-17 03:40] CleanCut commented on #72
@alexandrebarbaruiva A couple comments about this code:

1. `stdout = sys.stdout` creates a variable named `stdout` and then throws it away without using it, which is very odd.
2. When python starts, `sys.stdout` and `sys.__stdout__` are the same value.  So either one of those values is changed by code elsewhere in nose (which is probably what is going on -- I haven't taken the time to investigate

[2020-07-09 10:41] MxFlix opened #226 "Captured stderr doesn't work with logging.streamHandler(), and even then only if there's also Captured stdout."
Using Green 3.2.0 & Python 3.8.2

I found that Captured stderr is only display when there is also something captured in stdout.
Additionally, if a logger adds the handler `logging.StreamHandler()`, which [according to the official documentation](https://docs.python.org/3/library/logging.handlers.html#logging.StreamHandler) is supposed to set its output to sys.stderr if nothing else is specified, i

[2020-07-11 14:53] MxFlix opened #227 "Coverage error with green's DjangoRunner"
When using coverage with green in django, all import statements, class heads and function heads (presumably etc.) are marked as not covered. I have no idea about the inner workings of the TestRunner, Django, Green and Coverage, but could it maybe be that coverage is "started" to late, and doesn't catch the initial import of these files? (As all those things are lines that are evaluated when the fi

[2020-07-13 21:45] lcerman opened #228 "Green leaves empty temp files in /tmp"
After running green an empty tmpdir remain in /tmp for each test file executed. E.g., if I have project with 10 test files, 10 empty directories remains after running green. In a larger project it soon reaches thousands of empty directories in tmp after a while...

Steps to reproduce:

1. create testfile.py:
[code]

2. run `green testfile.py`

An empty tmp* directory is left in /tmp.

Our green co